[2017-11-06 18:18] irfanurrehman commented on #138
<a href="https://github.com/nikhiljindal"><img src="https://avatars0.githubusercontent.com/u/10199099?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikhiljindal](https://github.com/nikhiljindal)**
_Friday Sep 08, 2017 at 00:06 GMT_

----

We still need to fix the following:

[2017-11-06 18:18] irfanurrehman commented on #138
cc @shashidharatd

[2017-11-06 18:18] irfanurrehman opened #139 "[Federation] Replacing deployment definition does not evenly distribute replicas across clusters"
<a href="https://github.com/ajwootto"><img src="https://avatars2.githubusercontent.com/u/1740731?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [ajwootto](https://github.com/ajwootto)**
_Friday May 19, 2017 at 18:16 GMT_
_Originally opened as https://github.com/kubernetes/kubernetes/issues/46119_

----

**Is this a request for help?** (If yes, you should use our trouble

[2017-11-06 18:18] irfanurrehman commented on #139
<a href="https://github.com/perotinus"><img src="https://avatars1.githubusercontent.com/u/5122391?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [perotinus](https://github.com/perotinus)**
_Thursday May 25, 2017 at 01:00 GMT_

----

Does this happen consistently? Would you happen to have a log from the Federation controller manager? It may have more details about what

[2017-11-06 18:18] irfanurrehman commented on #139
<a href="https://github.com/ajwootto"><img src="https://avatars2.githubusercontent.com/u/1740731?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ajwootto](https://github.com/ajwootto)**
_Thursday May 25, 2017 at 17:09 GMT_

----

It happens consistently, every time I do a replacement, and it seems that all of the pods always get sent to the same cluster. There isn't m

[2017-11-06 18:19] irfanurrehman commented on #139
<a href="https://github.com/bspradling8"><img src="https://avatars1.githubusercontent.com/u/8116831?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bspradling8](https://github.com/bspradling8)**
_Wednesday Jun 07, 2017 at 21:16 GMT_

----

I'm noticing the same behavior that everything is dumped into the same cluster as a replacement. I did a quick test of the annotat

[2017-11-06 18:19] irfanurrehman commented on #139
<a href="https://github.com/bspradling8"><img src="https://avatars1.githubusercontent.com/u/8116831?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bspradling8](https://github.com/bspradling8)**
_Thursday Jun 08, 2017 at 22:21 GMT_

----

@ajwootto have you found a workaround for this?

[2017-11-06 18:19] irfanurrehman commented on #139
<a href="https://github.com/ajwootto"><img src="https://avatars2.githubusercontent.com/u/1740731?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ajwootto](https://github.com/ajwootto)**
_Friday Jun 09, 2017 at 16:54 GMT_

----

@bspradling8 Right now I've just been using the min annotations to force each cluster to have at least 3 pods. Problem at the moment is that i

[2017-11-06 18:19] irfanurrehman commented on #139
<a href="https://github.com/bspradling8"><img src="https://avatars1.githubusercontent.com/u/8116831?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bspradling8](https://github.com/bspradling8)**
_Friday Jun 09, 2017 at 17:14 GMT_

----

@ajwootto Gotcha, I'll be interested to see how autoscaling affects this. I just got the annotations working as you just described th

[2017-11-06 18:19] irfanurrehman commented on #139
<a href="https://github.com/perotinus"><img src="https://avatars1.githubusercontent.com/u/5122391?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [perotinus](https://github.com/perotinus)**
_Monday Jun 12, 2017 at 19:06 GMT_

----

@ajwootto @bspradling8 I believe that I have a workaround for the second problem (the one that occurred when you had the annotation in the

[2017-11-06 18:19] irfanurrehman commented on #139
<a href="https://github.com/perotinus"><img src="https://avatars1.githubusercontent.com/u/5122391?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [perotinus](https://github.com/perotinus)**
_Monday Jun 12, 2017 at 23:38 GMT_

----

I believe I understand the reason for the first failure as well. The federated deployment controller watches pods in the underlying cluster

[2017-11-06 18:19] irfanurrehman commented on #139
<a href="https://github.com/kishorekumark"><img src="https://avatars1.githubusercontent.com/u/9547145?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [kishorekumark](https://github.com/kishorekumark)**
_Wednesday Oct 25, 2017 at 17:52 GMT_

----

Same issue observed with version, even with "weight:1 "
{code}
Client Version: version.Info{Major:"1", Minor:"8", GitVersion

[2017-11-06 18:19] irfanurrehman commented on #139
cc @ajwootto

[2017-11-06 18:19] irfanurrehman opened #140 "[Federation] Document permissions that the Federation control plane requires in joined clusters"
<a href="https://github.com/perotinus"><img src="https://avatars1.githubusercontent.com/u/5122391?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [perotinus](https://github.com/perotinus)**
_Friday May 19, 2017 at 20:21 GMT_
_Originally opened as https://github.com/kubernetes/kubernetes/issues/46131_

----

We need to document what permissions the Federation control plan

[2017-11-06 18:19] irfanurrehman commented on #140
<a href="https://github.com/perotinus"><img src="https://avatars1.githubusercontent.com/u/5122391?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [perotinus](https://github.com/perotinus)**
_Friday May 19, 2017 at 20:22 GMT_

----

/assign perotinus

[2017-11-06 18:19] irfanurrehman commented on #140
cc @perotinus

[2017-11-06 18:19] irfanurrehman opened #141 "federation services: known issues"
<a href="https://github.com/nikhiljindal"><img src="https://avatars0.githubusercontent.com/u/10199099?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [nikhiljindal](https://github.com/nikhiljindal)**
_Monday May 22, 2017 at 19:18 GMT_
_Originally opened as https://github.com/kubernetes/kubernetes/issues/46240_

----

Documenting the list of known issues with federated se

[2017-11-06 18:19] irfanurrehman commented on #141
<a href="https://github.com/madhusudancs"><img src="https://avatars0.githubusercontent.com/u/10183?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [madhusudancs](https://github.com/madhusudancs)**
_Monday May 22, 2017 at 19:42 GMT_

----

Can we please characterize the first issue correctly? We already know that's not even the right solution. I would characterize it al

[2017-11-06 18:19] irfanurrehman commented on #141
<a href="https://github.com/quinton-hoole"><img src="https://avatars0.githubusercontent.com/u/10390785?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [quinton-hoole](https://github.com/quinton-hoole)**
_Saturday Sep 02, 2017 at 00:46 GMT_

----

Added priority.  Need to fix this before Federation GA.

[2017-11-06 18:19] irfanurrehman commented on #141
cc @nikhiljindal

[2017-11-06 18:59] perotinus commented on #140
/unassign perotinus

[2017-11-06 20:24] emaildanwilson commented on #129
Correct. The cluster selector selects against labels on the `Cluster` API objects. This all happens at the control plane layer and not at all on each cluster. Option 1 should work fine if the Label `federation.kubernetes.io/federation-control-plane=true` is prevented on the Cluster objects in the federation control plane.

[2017-11-07 02:18] nikox94 commented on #141
@madhusudancs I just re-read your comments on the AWS DNS issue. After having experimented for awhile, it seems to me that we should not sweep under the carpet the fact that we effectively want to dns-load-balance multiple DNS endpoints (one for every cluster for every federated service).

Let's have the following:

Let's say we have a federation deployment with the following clusters: aws1, aws2,

[2017-11-07 03:58] guangxuli commented on #14
sure :)

[2017-11-08 15:29] hmarcelodn opened #143 "Kubernetes Federation - Issue when joining cluster MS Azure"
I am running a cluster in west-us for federation in MS Azure. I installed coredns and ran kubefed as following:

[code]

Then when I tried to join my east-us cluster it failed as belows:
[code]

Any ideas

[2017-11-10 07:55] mozhuli commented on #143
@hmarcelodn you use following kubefed command
[code]

[2017-11-15 14:46] miguelcastilho opened #148 "Add proxy parameters to kubefed client"
I used kubefed to depoy the federation apiserver and controller-manager. I was having communication problems and I checked on the logs that the controller-manager couldn't communicate with other services. Because I'm behind a corporate proxy it seemed like proxy issues. I checked the kubefed documentation and there is no parameter to add a proxy. I had to edit the controller-manager deployment man

[2017-11-17 15:15] Blasterdick commented on #143
Within GKE can't join one cluster to another with deployed federation control plane on it, seeing the same error.

[code]

[2017-11-24 01:25] davidstack commented on #19
the reason i want to use the default namespace is here[ Ceph StorageClass](https://github.com/kubernetes/examples/blob/master/staging/persistent-volume-provisioning/README.md), where i want use ceph rbd as the backend of etcd, but the ceph rbd need a ceph-secret must exist at the namespace.
the kubefed allow use exist namespace

[2017-11-24 12:08] craigbox commented on #36
Propose closing this and re-opening kubernetes/kubernetes#15675, as this relates to single clusters ("Ubernetes Lite"), not multi-cluster.

[2017-11-24 20:32] davidopp commented on #36
+1, any objection?

[2017-11-27 13:07] irfanurrehman commented on #36
Could not notice this earlier as was out of office. Closing this in favour of https://github.com/kubernetes/kubernetes/issues/15675.

[2017-11-27 13:07] #36 closed

[2017-11-27 21:28] wynro opened #156 "Error launching Jobs in federation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I tried to launch a Job in a federation, and instead of accepting the Job and scheduling it, the server answered with the error code:

    error: error validating "pi.yaml": error validating data: unknown object type schema.GroupVersionKind{Group:"batch", Version:"v1", Kind:"Job"}; if you choose to ignore these errors, tu

[2017-11-30 07:18] ggaaooppeenngg opened #160 "propose: support kubefed nodeSelector label"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
scheduler schedules federated-apiserver to a random availabe node
**What you expected to happen**:
schedule to specific nodes
**How to reproduce it (as minimally and precisely as possible)**:
set up federation service

**Anything else we need to know?**:
I suggest to add a flag to kubefed command, or support a config

[2017-12-01 02:46] #160 closed

[2017-12-01 06:11] ggaaooppeenngg opened #163 "No public fcp image can be downloaded"
I found hyperkube is replaced by fcp, and kubefed supports fcp now, but I found no open image in gcr.io, how can I mannually make a fcp image?
Does federation have SIG group?

[2017-12-06 03:23] gyliu513 opened #166 "Failed to delete deployment in federation cluster"
I have a federation cluster with two clusters, after the deployment was created, it was distributed to two clusters equally with default policy. Such as I have 6 replicas in my deployment and the federation will create 3 replicas in each cluster.

But when I try to delete the federation deployment, it always failed due to timeout error.

[code]

Also checked logs for federation apiserver and contr

[2017-12-08 01:25] gyliu513 commented on #166
/kind bug

[2017-12-12 06:56] moonek commented on #101
I want to know the current situation.
I am interested in the on-premise environment.
The only dns-provider in on-premise understood as `CoreDNS`.
The service type for cross-cluster service discovery is documented as `Loadbalancer` and `External IP`.
![image](https://user-images.githubusercontent.com/7972724/33871204-d69d7148-df54-11e7-8fcb-7821648f6284.png)
However, the ServiceType in the CoreDNS

[2017-12-13 09:29] shashidharatd commented on #101
If you have a user service that need to be federated across clusters (multi-cluster scenario). The service type has to be a LoadBalancer type in-order to be able to do federated service discovery across clusters.

Now coming to the documents you are referring. The mention is about CoreDNS service. CoreDNS server/service itself runs within a kubernetes cluster and the guide is talking about setting

[2017-12-13 22:00] RochesterinNYC commented on #132
Noticed that there are third party services like signalfx that would benefit from being able to programmatically fetch the cluster name and not have to have that passed into config/deployment manifests: https://github.com/signalfx/integrations/blob/1348c09a3b0c192ce5c43430bfe7bf200b766685/signalfx-agent/kubernetes/signalfx-agent.configmap.yml#L13 https://github.com/signalfx/integrations/blob/1348c

[2017-12-15 09:16] gyliu513 opened #169 "Load-balance cross cluster should support local clusters"
Now the federated service creates a separate service shard in each underlying cluster in the federation. And to create DNS records for cross-cluster service discovery, federation depends on the load balancer addresses allocated by the cluster service shards.But most of the local clusters do not have a load balancer implementation, federation should support load balancer for multiple local clusters

[2017-12-15 09:16] gyliu513 commented on #169
/kind feature

[2017-12-16 01:43] G-Harmon commented on #110
I ran into the same thing, and @dgpc's workaround worked for me (so far).

[2017-12-18 05:17] gyliu513 opened #170 "Host cluster down will cause federation does not work"
Now the federation APIServer and Controller manager are both running on host cluster, but if the host cluster is down, then federation will not work.

Any suggestions for how to make federation still works even if host cluster is down? /cc @quinton-hoole

/kind feature

[2017-12-28 06:30] prakashsingh08 commented on #19
Hi @davidstack
is this issue resolved?

[2017-12-28 07:54] liqlin2015 opened #175 "Cannot create CNAME record for cluster which don't have reachable backend"
I have two clusters in federation.

[code]

And I have created a tomcat deployment and service with 1 instance.

[code]

Check the federation service detail
[code]

The annotation `federation.kubernetes.io/service-ingresses` only has one cluster `cluster22` item.  Because the one tomcat instance is only deployed in `cluster22`.

Here is the clusters info
[code]

Check DNS record generated or the t

[2017-12-28 07:55] liqlin2015 commented on #175
/kind bug

[2017-12-28 13:44] davidstack commented on #19
@prakashsingh08 no, i change to use "manual" storage class

[2017-12-28 14:33] prakashsingh08 commented on #19
Hi @davidstack ,
is this possible to give some steps to avoid this issue?

[2017-12-29 07:49] gyliu513 commented on #175
/cc @quinton-hoole can you help check?

[2017-12-29 08:57] prakashsingh08 commented on #76
@nikhiljindal
while creating storageclasses and othe objects in kubernetes federation cluster, i am getting error like below.
`error: error validating "storage-class.yaml": error validating data: the server could not find the requested resource; if you choose to ignore these errors, turn validation off with --validate=false`

below is my storageclass file where apiVersion is "storage.k8s.io/v1"
`k

[2017-12-29 10:12] irfanurrehman commented on #76
@prakashsingh08, all k8s APIs are not supported in the federation API server. This is by federations original design. Federation supports federating a subset of k8s APIs alone and including support of more resources is in the roadmap. However, we so far did not get any specific user requests for federating storage classes and is not there in the immediate roadmap. What is your use case? If you hav

[2017-12-30 03:48] prakashsingh08 commented on #76
actually our usecase is deploy mongoDB StatefulSet cluster in k8s in multi cluster. it requires creating StorageClass and StatefulSet in multiple cluster.we want to manage all our activities(like creating storageclass, statefulset etc) through federation cluster to avoid rework of creating Kubernetes Object in different clusters,  so we need to access below apis
[code]

is there any way to enable

[2017-12-31 13:24] davidstack commented on #19
1.create a pv useing manaul storage class

apiVersion: v1
metadata:
  name: fed-etcd1
  namespace: federation-system
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/opt/fed-etcd/"
2. kubefed init useing this command:

[2018-01-02 10:51] shashidharatd opened #176 "helm chart for federation control plane deployment"
I am trying to open up discussion about using helm chart mechanism to deploy federation control plane(fcp) components (api-server & controller-manager). Currently kubefed is the supported tool to deploy federation components. Over a period of time it has grown to do multiple things and has become bulky and difficult to support and maintain more customisation. So does it makes sense to explore helm

[2018-01-03 03:13] gyliu513 opened #177 "How to distinguish images for kubernetes `hyperkube` and federation `hyperkube`"
Now both kubernetes and federation using same image names in the format of `${REGISTRY}/hyperkube-${ARCH}:${VERSION}`, my question is how to distinguish images from kubernetes and federation?

We should make the name different for kubernetes and federation.

[2018-01-03 03:49] gyliu513 commented on #177
/kind bug

[2018-01-03 21:11] Ronwebb55 opened #179 "Create Kubernetes federation terrafom resource"
Hi, I'm searching for a way to do federation in GCP with k8's using terraform. I would like to know is there a source for this coming?

[2018-01-03 22:16] red5bongo commented on #10
Hello - I'm facing the same problem.  Is there any ETA on when this will be fixed?

[2018-01-03 23:21] perotinus commented on #176
The cluster-registry project is also interested in exploring this, and I believe we have some similar problems. At this point, I'm not sure that we have cycles to spend looking into it, but we're interested in following the effort.

Has someone opened an issue in the Helm repo to discuss what is needed in Helm to support deploying the FCP?

/cc @font @perotinus

[2018-01-05 17:27] pmorie opened #181 "Verify-codegen job appears to be busted"
Present in a few PRs, example: #174

[2018-01-08 14:38] #181 closed

[2018-01-08 19:31] nikox94 opened #185 "Set up e2e for local testing"
Currently running e2e tests locally is not set up and a tested procedure does not yet exist.

We need to do the following:
1. Evaluate options for e2e testing local environment setups
2. Try some PoCs and decide on a viable candidate
3. Write documentation and set up a procedure for easy set-up by new and experienced contributors alike

We would ideally like the procedure to contain a DNS manager

[2018-01-08 19:31] nikox94 commented on #185
/assign nikox94

[2018-01-08 19:35] nikox94 commented on #185
Me, @shashidharatd  and @irfanurrehman have started some discussions on this and have decided to try a minikube approach based on this: https://github.com/emaildanwilson/minikube-federation
The above already includes coreDNS.
On top of that we would like to test "Contour"

I am currently running through the setup, noting what goes well and what doesn't. Documenting.

Thank you @shashidharatd and @

[2018-01-08 20:05] nikox94 commented on #185
WIP PR: https://github.com/kubernetes/federation/pull/186

[2018-01-10 02:18] rangapv opened #187 "kubefed not installing right ...."
Uncomment only one, leave it on its own line:

/kind bug

/ sig federation

kubefed install not working right...

I did the following.....
Step 1:
curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/kubernetes-client-linux-amd64.tar.gz
tar -xzvf kubernetes-client-linux-amd64.tar.gz

Step 2:
sudo snap ins

[2018-01-10 16:56] shashidharatd commented on #177
@gyliu513, the federation image name would be `fcp`.
After federation 1.9 release is cut out (which is compatible with k8s 1.9 releases), the "fcp" will be available from the documented gcr.io registry. We are working out on releasing the federation-1.9 release asap.

[2018-01-10 21:18] Blasterdick commented on #187
+1, all the same except kernel is 4.10

[2018-01-10 23:30] gyliu513 commented on #177
Good to know, thanks @shashidharatd

One more question, I saw a document here https://docs.google.com/document/d/1VTfe2EieZMXKbDO3879De6sBbg402wJGFivxSDAkMY4/edit , so dose the federation and kubernetes will have separate release cycles? So in future, I may run Kubernetes and federation in one cluster with different version?

I saw that now kubernetes 1.9.1 has been released but federation is stil

[2018-01-11 02:50] rangapv commented on #187
Hi,
How do I find the source binaries, Pls  provide the same.
Until the community provides an alternative
Regards

[2018-01-11 07:21] Blasterdick commented on #187
@rangapv
* Clone [this](https://github.com/kubernetes/federation) repo
* Install golang with `sudo snap install --classic go`
* cd federation && make

If everything compiled as it has to, you should see `kubefed` binary in subfolders like `_output` or with the command `find ./ -name kubefed`. Then simply put it in a needed folder.

[2018-01-11 11:55] Blasterdick opened #188 "Can't start apiserver container"
Faced the error after deploying federated host cluster with next command:
[code]

The error is in the `federated-apiserver` pod:
`Error: failed to start container "apiserver": Error response from daemon: oci runtime error: container_linux.go:247: starting container process caused "exec: \"/fcp\": stat /fcp: no such file or directory"`

Versions:
[code]

[2018-01-11 18:01] Blasterdick commented on #187
@rangapv Seems like if you build binaries out of the source, kubefed would create a deployments, which would expect for `fcp` util in hyperkube image, which isn't there.

So, it's better to download tarball with pre-compiled binaries. I found, that 1.8.5 tarball contains kubefed (while 1.9.1 don't) so here's the [link](https://storage.googleapis.com/kubernetes-release/release/v1.8.5/kubernetes-cli

[2018-01-11 18:03] Blasterdick commented on #166
Bump. Is there any news? Seems like a situation isn't changed.

[2018-01-12 12:18] rangapv commented on #187
@Blasterdick Thanks a bunch! I installed it and the API server is running....
I have a few queries though...IF need be I can raise it at any other paltform on your choosing..for now those queries are...
1.even though I am giving the {--apiserver-enable-basic-auth=false} to false it is either not log-ing "in" and for kubefed init with {--apiserver-enable-basic-auth=true} it asks for a auth login/pa

[2018-01-12 16:41] kinghrothgar opened #189 "Creating federated ingress only creates in single cluster"
**Kubernetes version** (use `kubectl version`):
1.8.5-gke.0

**Environment**:

- **Cloud provider or hardware configuration**:
GKE
- **OS** (e.g. from /etc/os-release):
Container-Optimized OS from Google

**What happened**:
I am running a federated cluster in 4 regions. I ran `kubectl apply -f ing-hello-world.yaml --context production` where `production` is the federation context.

Contents of yam

[2018-01-17 13:10] #19 closed

[2018-01-18 08:52] rangapv opened #192 "Kubefed binary missing from the tar ball in 1.9 v"
Is this a BUG REPORT or FEATURE REQUEST?:

Uncomment only one, leave it on its own line:

/kind bug

/kind feature

Labels:
/ sig federation
What happened:
kubefed install not working right...

I did the following.....
Step 1:
curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/kubernetes-client-linux-am

[2018-01-18 08:52] rangapv commented on #192
kind bug

[2018-01-19 15:52] kinghrothgar commented on #189
Is there any specific information that is needed from me to debug this?

[2018-01-29 08:44] nikhita commented on #9
/remove-lifecycle stale
/lifecycle frozen

[2018-01-29 16:52] csbell commented on #109
All work in this area being pursued through [kubemci](https://github.com/GoogleCloudPlatform/k8s-multicluster-ingress).
/close

[2018-01-29 16:52] #109 closed

[2018-02-01 11:17] irfanurrehman commented on #163
Relevant to #192. Should be fixed ASAP.

[2018-02-01 11:20] irfanurrehman commented on #156
@wynro, apologies for delayed response. The jobs API is not enabled in federation-apiserver by default.
To be able to use the jobs api you need to enable it explicitly while starting the apiserver. If you are deploying the control plane using `kubefed` you can use `--apiserver-arg-overrides="--runtime-config=api/all=true"` as an additional argument to do the same. Please update if and when it work

[2018-02-01 11:28] irfanurrehman commented on #143
thanks @mozhuli  for suggesting the correct command params. @hmarcelodn please update if you faced further problems.

[2018-02-01 18:09] bputt commented on #169
Referencing another issue that was closed in favor of this one: https://github.com/kubernetes/kubernetes/issues/58974

[2018-02-01 18:11] bputt commented on #169
Also, when adding the label ```priority/important-longterm```, how far out in the future do you expect it to implement this?

[2018-02-01 18:44] bputt commented on #169
Also looks like haproxy added support for service discovery https://www.haproxy.com/blog/dns-service-discovery-haproxy/

[2018-02-02 04:59] shashidharatd commented on #4
/assign @irfanurrehman
Please unassign if inappropriate

[2018-02-02 05:00] shashidharatd commented on #5
This task is complete, so closing.
/close

[2018-02-02 05:00] #5 closed

[2018-02-02 05:06] shashidharatd commented on #12
This is no longer relevant and we have a separate PR job now.
/close

[2018-02-02 05:06] #12 closed

[2018-02-02 05:13] shashidharatd commented on #46
This is irrelevant now. federation code vendors in other repos of k8s and no longer in-tree.
Updating vendors is a manual process. We cannot put restriction on merge bot based on federation e2e tests.
/close

[2018-02-02 05:13] #46 closed

[2018-02-02 08:34] gyliu513 commented on #169
There is a keepalived cloud provider can also provide loadbalancer type for services https://github.com/munnerz/keepalived-cloud-provider

[2018-02-02 10:04] shashidharatd commented on #4
/lifecycle frozen

[2018-02-02 11:00] shashidharatd commented on #8
/priority backlog
/help
/remove-lifecycle stale

[2018-02-02 11:03] shashidharatd commented on #10
/kind bug

[2018-02-02 11:27] irfanurrehman opened #198 "Missing information in docs about jobs API"
Jobs API in federation apiserver is not enabled by default and needs to be explicitly enabled (for example using `--runtime-config=api/all=true` while starting the federation apiserver). This information does not reflect correctly in current documentation about jobs [here](https://kubernetes.io/docs/tasks/administer-federation/job/).
This should be updated.

[2018-02-02 14:28] irfanurrehman opened #199 "Federation does not resolve Hostname, need to use IP"
<a href="https://github.com/tommyknows"><img src="https://avatars2.githubusercontent.com/u/16387735?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [tommyknows](https://github.com/tommyknows)**
_Thursday Dec 21, 2017 at 08:33 GMT_
_Originally opened as https://github.com/kubernetes/kubernetes/issues/57505_

----

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

[2018-02-02 14:29] irfanurrehman commented on #199
<a href="https://github.com/tommyknows"><img src="https://avatars2.githubusercontent.com/u/16387735?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [tommyknows](https://github.com/tommyknows)**
_Thursday Dec 21, 2017 at 08:52 GMT_

----

@kubernetes/sig-multicluster-bugs

[2018-02-02 14:29] irfanurrehman commented on #199
<a href="https://github.com/k8s-ci-robot"><img src="https://avatars0.githubusercontent.com/u/20407524?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [k8s-ci-robot](https://github.com/k8s-ci-robot)**
_Thursday Dec 21, 2017 at 08:52 GMT_

----

@tommyknows: Reiterating the mentions to trigger a notification:
@kubernetes/sig-multicluster-bugs

<details>

In response to [

[2018-02-02 14:29] irfanurrehman commented on #199
cc @tommyknows

[2018-02-02 14:32] irfanurrehman opened #200 "Remove federation-apiserver's dependency on kubernetes APIs"
<a href="https://github.com/nikhiljindal"><img src="https://avatars0.githubusercontent.com/u/10199099?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [nikhiljindal](https://github.com/nikhiljindal)**
_Thursday Jun 02, 2016 at 01:31 GMT_
_Originally opened as https://github.com/kubernetes/kubernetes/issues/26675_

----

Right now `--storage-versions` in federation-apiserv

[2018-02-02 14:32] irfanurrehman commented on #200
<a href="https://github.com/nikhiljindal"><img src="https://avatars0.githubusercontent.com/u/10199099?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikhiljindal](https://github.com/nikhiljindal)**
_Thursday Jun 02, 2016 at 01:34 GMT_

----

The refactoring that @lavalamp was doing can help here. clientset and federation-apiserver can use different instances of regis

[2018-02-02 14:32] irfanurrehman commented on #200
<a href="https://github.com/quinton-hoole"><img src="https://avatars0.githubusercontent.com/u/10390785?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [quinton-hoole](https://github.com/quinton-hoole)**
_Monday Jul 25, 2016 at 22:41 GMT_

----

@nikhiljindal Can this issue be closed yet?

[2018-02-02 14:32] irfanurrehman commented on #200
<a href="https://github.com/nikhiljindal"><img src="https://avatars0.githubusercontent.com/u/10199099?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikhiljindal](https://github.com/nikhiljindal)**
_Friday Aug 19, 2016 at 20:03 GMT_

----

No. We still need to fix it. It requires some changes in our API machinery code. Doesnt look like we will be able to get to this

[2018-02-02 14:32] irfanurrehman commented on #200
<a href="https://github.com/dims"><img src="https://avatars2.githubusercontent.com/u/23304?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dims](https://github.com/dims)**
_Tuesday Nov 15, 2016 at 18:22 GMT_

----

@nikhiljindal Is this still target-ted for 1.5? looks like PR #35162 referenced does not have 1.5 milestone on it either. please switch milestones if appro

[2018-02-02 14:32] irfanurrehman commented on #200
<a href="https://github.com/nikhiljindal"><img src="https://avatars0.githubusercontent.com/u/10199099?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikhiljindal](https://github.com/nikhiljindal)**
_Tuesday Nov 15, 2016 at 18:36 GMT_

----

Removed the milestone

[2018-02-02 14:32] irfanurrehman commented on #200
<a href="https://github.com/fejta-bot"><img src="https://avatars1.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Monday Jan 08, 2018 at 18:26 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d

[2018-02-02 14:32] irfanurrehman commented on #200
cc @nikhiljindal

[2018-02-02 14:33] irfanurrehman opened #201 "Decide the domain name infix for the Ingress entries in KubeDNS"
<a href="https://github.com/madhusudancs"><img src="https://avatars0.githubusercontent.com/u/10183?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [madhusudancs](https://github.com/madhusudancs)**
_Friday Aug 12, 2016 at 21:23 GMT_
_Originally opened as https://github.com/kubernetes/kubernetes/issues/30544_

----

Discovery DNS records for services take the form `mysvc.m

[2018-02-02 14:33] irfanurrehman commented on #201
<a href="https://github.com/quinton-hoole"><img src="https://avatars0.githubusercontent.com/u/10390785?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [quinton-hoole](https://github.com/quinton-hoole)**
_Friday Aug 12, 2016 at 21:29 GMT_

----

Thanks @madhusudancs for opening this tracking issue to make sure that it doesn't get lost.  @thockin @matchstick In particula

[2018-02-02 14:33] irfanurrehman commented on #201
<a href="https://github.com/quinton-hoole"><img src="https://avatars0.githubusercontent.com/u/10390785?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [quinton-hoole](https://github.com/quinton-hoole)**
_Thursday Aug 18, 2016 at 16:09 GMT_

----

@nikhiljindal and I discussed this with @thockin yesterday, and agreed on using "ing".  A few caveats to be aware of:
1. "sh

[2018-02-02 14:33] irfanurrehman commented on #201
<a href="https://github.com/quinton-hoole"><img src="https://avatars0.githubusercontent.com/u/10390785?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [quinton-hoole](https://github.com/quinton-hoole)**
_Thursday Aug 18, 2016 at 16:10 GMT_

----

@madhusudancs FYI.

[2018-02-02 14:33] irfanurrehman commented on #201
<a href="https://github.com/thockin"><img src="https://avatars0.githubusercontent.com/u/5595220?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [thockin](https://github.com/thockin)**
_Thursday Aug 18, 2016 at 16:16 GMT_

----

as per quinton, "ing" seems fine.  @smarterclayton because DNS

On Thu, Aug 18, 2016 at 9:11 AM, Quinton Hoole notifications@github.com
wrote:

[2018-02-02 14:33] irfanurrehman commented on #201
<a href="https://github.com/smarterclayton"><img src="https://avatars0.githubusercontent.com/u/1163175?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [smarterclayton](https://github.com/smarterclayton)**
_Thursday Aug 18, 2016 at 16:31 GMT_

----

Is "ing" really the best we can do?  My argument as a human being is that "ingress" I could maybe understand, but I will n

[2018-02-02 14:33] irfanurrehman commented on #201
<a href="https://github.com/smarterclayton"><img src="https://avatars0.githubusercontent.com/u/1163175?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [smarterclayton](https://github.com/smarterclayton)**
_Thursday Aug 18, 2016 at 16:36 GMT_

----

I don't _hate_ ing, but it does make me think of things like `myingress.walk.ing.cluster.local` and that makes me think it

[2018-02-02 14:33] irfanurrehman commented on #201
<a href="https://github.com/thockin"><img src="https://avatars0.githubusercontent.com/u/5595220?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [thockin](https://github.com/thockin)**
_Thursday Aug 18, 2016 at 16:43 GMT_

----

pod, svc, ing, ept are all pretty obvious.  I think the _real_ answer will
be to chain an "external" service onto an ingress IP so that short n

[2018-02-02 14:33] irfanurrehman commented on #201
<a href="https://github.com/quinton-hoole"><img src="https://avatars0.githubusercontent.com/u/10390785?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [quinton-hoole](https://github.com/quinton-hoole)**
_Thursday Aug 18, 2016 at 16:53 GMT_

----

@thockin I'm not sure that I fully understand what the API semantics of "ingresses auto-fronted by external services" would

[2018-02-02 14:33] irfanurrehman commented on #201
<a href="https://github.com/thockin"><img src="https://avatars0.githubusercontent.com/u/5595220?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [thockin](https://github.com/thockin)**
_Thursday Aug 18, 2016 at 17:02 GMT_

----

I am OK with (1), I don't think it is particularly detrimental to long-term
goals.

(2) won't happen so (3) is the other  choice.  The implicat

[2018-02-02 14:33] irfanurrehman commented on #201
<a href="https://github.com/smarterclayton"><img src="https://avatars0.githubusercontent.com/u/1163175?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [smarterclayton](https://github.com/smarterclayton)**
_Thursday Aug 18, 2016 at 17:09 GMT_

----

I am not opposed to 1 either.  My concern is that the other side of this is app auto discovery of external names, which (t

[2018-02-02 14:33] irfanurrehman commented on #201
<a href="https://github.com/madhusudancs"><img src="https://avatars0.githubusercontent.com/u/10183?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [madhusudancs](https://github.com/madhusudancs)**
_Thursday Aug 18, 2016 at 19:42 GMT_

----

@thockin @quinton-hoole a couple of questions for clarification:

1. So this means, no Ingress object gets an A record today?
2. I

[2018-02-02 14:33] irfanurrehman commented on #201
<a href="https://github.com/thockin"><img src="https://avatars0.githubusercontent.com/u/5595220?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [thockin](https://github.com/thockin)**
_Thursday Aug 18, 2016 at 19:49 GMT_

----

On Thu, Aug 18, 2016 at 12:43 PM, Madhusudan.C.S
notifications@github.com wrote:

correct

up to now, ingress is presumed to be a cluster-edge

[2018-02-02 14:33] irfanurrehman commented on #201
<a href="https://github.com/madhusudancs"><img src="https://avatars0.githubusercontent.com/u/10183?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [madhusudancs](https://github.com/madhusudancs)**
_Thursday Aug 18, 2016 at 21:17 GMT_

----

@thockin Ok, thanks.

[2018-02-02 14:33] irfanurrehman commented on #201
<a href="https://github.com/bprashanth"><img src="https://avatars2.githubusercontent.com/u/10927820?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bprashanth](https://github.com/bprashanth)**
_Friday Aug 19, 2016 at 16:31 GMT_

----

Another interesting problem is chaining an internal ingress that we're running as a Service to the external counterpart.

If I'm runnin

[2018-02-02 14:33] irfanurrehman commented on #201
<a href="https://github.com/dims"><img src="https://avatars2.githubusercontent.com/u/23304?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dims](https://github.com/dims)**
_Thursday Nov 10, 2016 at 00:54 GMT_

----

@madhusudancs @quinton-hoole : punt to v1.6? can you please move the milestone if so.

[2018-02-02 14:33] irfanurrehman commented on #201
<a href="https://github.com/madhusudancs"><img src="https://avatars0.githubusercontent.com/u/10183?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [madhusudancs](https://github.com/madhusudancs)**
_Thursday Nov 10, 2016 at 19:47 GMT_

----

@dims ack. Changed.

[2018-02-02 14:33] irfanurrehman commented on #201
<a href="https://github.com/ethernetdan"><img src="https://avatars1.githubusercontent.com/u/4014393?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ethernetdan](https://github.com/ethernetdan)**
_Monday Mar 13, 2017 at 19:30 GMT_

----

@madhusudancs @dims could this be closed or moved to the `v1.7` milestone if we're not fixing in 1.6?

[2018-02-02 14:33] irfanurrehman commented on #201
<a href="https://github.com/madhusudancs"><img src="https://avatars0.githubusercontent.com/u/10183?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [madhusudancs](https://github.com/madhusudancs)**
_Monday Mar 13, 2017 at 22:26 GMT_

----

This is not happening any time soon. (Doesn't mean it is not going to happen at all). So I am just removing the milestone.

[2018-02-02 14:33] irfanurrehman commented on #201
<a href="https://github.com/fejta-bot"><img src="https://avatars1.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Monday Jan 08, 2018 at 18:26 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d

[2018-02-02 14:33] irfanurrehman commented on #201
cc @madhusudancs

[2018-02-02 14:33] irfanurrehman opened #202 "Federated api server should validate cluster api server address"
<a href="https://github.com/mwielgus"><img src="https://avatars2.githubusercontent.com/u/11994812?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mwielgus](https://github.com/mwielgus)**
_Sunday Aug 21, 2016 at 10:13 GMT_
_Originally opened as https://github.com/kubernetes/kubernetes/issues/31074_

----

Currently it is possible to pass just an IP address without any sc

[2018-02-02 14:33] irfanurrehman commented on #202
<a href="https://github.com/fejta-bot"><img src="https://avatars1.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Monday Jan 08, 2018 at 18:26 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d

[2018-02-02 14:33] irfanurrehman commented on #202
cc @mwielgus

[2018-02-02 14:33] irfanurrehman opened #203 "Federated service IP out of sync between AWS LB and CloudDNS records"
<a href="https://github.com/juntagabor"><img src="https://avatars0.githubusercontent.com/u/13035153?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [juntagabor](https://github.com/juntagabor)**
_Wednesday Oct 26, 2016 at 16:09 GMT_
_Originally opened as https://github.com/kubernetes/kubernetes/issues/35637_

----

**Is this a request for help?** No

**What keywords did y

[2018-02-02 14:33] irfanurrehman commented on #203
<a href="https://github.com/nikhiljindal"><img src="https://avatars0.githubusercontent.com/u/10199099?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikhiljindal](https://github.com/nikhiljindal)**
_Friday Oct 28, 2016 at 00:57 GMT_

----

cc @kubernetes/sig-cluster-federation @quinton-hoole

[2018-02-02 14:33] irfanurrehman commented on #203
<a href="https://github.com/quinton-hoole"><img src="https://avatars0.githubusercontent.com/u/10390785?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [quinton-hoole](https://github.com/quinton-hoole)**
_Friday Oct 28, 2016 at 15:25 GMT_

----

@jungtagabor thanks for the comprehensive bug report.  Yes, you're right, we should be publishing CNAME's for AWS LB's, not A

[2018-02-02 14:33] irfanurrehman commented on #203
<a href="https://github.com/juntagabor"><img src="https://avatars0.githubusercontent.com/u/13035153?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [juntagabor](https://github.com/juntagabor)**
_Friday Oct 28, 2016 at 16:09 GMT_

----

@quinton-hoole thanks for the response and pointing out where the issue is.

Looking more into this, it looks a little more complex. I

[2018-02-02 14:33] irfanurrehman commented on #203
<a href="https://github.com/saturnism"><img src="https://avatars1.githubusercontent.com/u/1998883?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [saturnism](https://github.com/saturnism)**
_Friday Nov 11, 2016 at 17:09 GMT_

----

should it at least resync the IP?
and use CNAME for the cluster-specific entry

[2018-02-02 14:34] irfanurrehman commented on #203
<a href="https://github.com/nikhiljindal"><img src="https://avatars0.githubusercontent.com/u/10199099?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikhiljindal](https://github.com/nikhiljindal)**
_Monday May 22, 2017 at 19:17 GMT_

----

Yes, ideally we want A records for GCP and CNAME for AWS, but since we cant have both A and CNAME records for same DNS entry, we

[2018-02-02 14:34] irfanurrehman commented on #203
<a href="https://github.com/madhusudancs"><img src="https://avatars0.githubusercontent.com/u/10183?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [madhusudancs](https://github.com/madhusudancs)**
_Monday May 22, 2017 at 19:51 GMT_

----

You cannot have CNAME of AWS-only clusters either. CNAMEs can point to a single target, however we need our records to load balance

[2018-02-02 14:34] irfanurrehman commented on #203
<a href="https://github.com/madhusudancs"><img src="https://avatars0.githubusercontent.com/u/10183?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [madhusudancs](https://github.com/madhusudancs)**
_Monday May 22, 2017 at 19:54 GMT_

----

About running control loops unnecessarily, I wonder if AWS Cloud Watch is capable of delivering events/notifications when IP address

[2018-02-02 14:34] irfanurrehman commented on #203
<a href="https://github.com/nikhiljindal"><img src="https://avatars0.githubusercontent.com/u/10199099?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikhiljindal](https://github.com/nikhiljindal)**
_Monday May 22, 2017 at 19:56 GMT_

----

Yes the second one is better since it works for hybrid as well.

[2018-02-02 14:34] irfanurrehman commented on #203
<a href="https://github.com/baldeynz"><img src="https://avatars2.githubusercontent.com/u/21130912?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [baldeynz](https://github.com/baldeynz)**
_Wednesday Aug 16, 2017 at 02:07 GMT_

----

Hi - has there been any update on this issue? any idea when its likely to be fixed?

[2018-02-02 14:34] irfanurrehman commented on #203
<a href="https://github.com/quinton-hoole"><img src="https://avatars0.githubusercontent.com/u/10390785?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [quinton-hoole](https://github.com/quinton-hoole)**
_Wednesday Aug 16, 2017 at 16:36 GMT_

----

@baldeynz No updates that I'm aware of.  Code submissions to fix the bug would be well received.

[2018-02-02 14:34] irfanurrehman commented on #203
<a href="https://github.com/quinton-hoole"><img src="https://avatars0.githubusercontent.com/u/10390785?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [quinton-hoole](https://github.com/quinton-hoole)**
_Friday Sep 08, 2017 at 01:07 GMT_

----

Needs to be resolved for GA.

[2018-02-02 14:34] irfanurrehman commented on #203
<a href="https://github.com/nikox94"><img src="https://avatars0.githubusercontent.com/u/9428713?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikox94](https://github.com/nikox94)**
_Thursday Oct 12, 2017 at 22:58 GMT_

----

Hey, if nobody can start on the issue, I would like to take it. Seems pretty interesting...

[2018-02-02 14:34] irfanurrehman commented on #203
<a href="https://github.com/quinton-hoole"><img src="https://avatars0.githubusercontent.com/u/10390785?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [quinton-hoole](https://github.com/quinton-hoole)**
_Thursday Oct 12, 2017 at 23:10 GMT_

----

Sure, that would be great @nikox94 .  Welcome aboard!

[2018-02-02 14:34] irfanurrehman commented on #203
<a href="https://github.com/nikox94"><img src="https://avatars0.githubusercontent.com/u/9428713?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikox94](https://github.com/nikox94)**
_Sunday Oct 15, 2017 at 07:40 GMT_

----

/assign

[2018-02-02 14:34] irfanurrehman commented on #203
<a href="https://github.com/k8s-ci-robot"><img src="https://avatars0.githubusercontent.com/u/20407524?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [k8s-ci-robot](https://github.com/k8s-ci-robot)**
_Sunday Oct 15, 2017 at 07:40 GMT_

----

@nikox94: GitHub didn't allow me to assign the following users: nikox94.

Note that only [kubernetes members](https://github.com/

[2018-02-02 14:34] irfanurrehman commented on #203
<a href="https://github.com/nikox94"><img src="https://avatars0.githubusercontent.com/u/9428713?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikox94](https://github.com/nikox94)**
_Friday Oct 20, 2017 at 07:02 GMT_

----

Hey! :)

A small status update:
It seems that relevant code is [here](https://github.com/kubernetes/kubernetes/tree/master/federation/pkg/dnsprov

[2018-02-02 14:34] irfanurrehman commented on #203
<a href="https://github.com/nikox94"><img src="https://avatars0.githubusercontent.com/u/9428713?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikox94](https://github.com/nikox94)**
_Friday Oct 20, 2017 at 07:04 GMT_

----

Also could you please assign the issue to me. Thank you!

[2018-02-02 14:34] irfanurrehman commented on #203
<a href="https://github.com/shashidharatd"><img src="https://avatars3.githubusercontent.com/u/8734900?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [shashidharatd](https://github.com/shashidharatd)**
_Monday Oct 23, 2017 at 06:14 GMT_

----

Hello nick,
Here is design for federated service. You will get all the scenarios documented there and also the implementations.

[2018-02-02 14:34] irfanurrehman commented on #203
<a href="https://github.com/shashidharatd"><img src="https://avatars3.githubusercontent.com/u/8734900?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [shashidharatd](https://github.com/shashidharatd)**
_Monday Oct 23, 2017 at 14:09 GMT_

----

missed the link https://github.com/kubernetes/community/blob/master/contributors/design-proposals/multicluster/federated-servic

[2018-02-02 14:34] irfanurrehman commented on #203
<a href="https://github.com/nikox94"><img src="https://avatars0.githubusercontent.com/u/9428713?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikox94](https://github.com/nikox94)**
_Sunday Oct 29, 2017 at 20:48 GMT_

----

OK so I have my setup up and running. If you read more closely the guy is having the cluster based in GCP and using CloudDNS for the federation D

[2018-02-02 14:34] irfanurrehman commented on #203
<a href="https://github.com/nikox94"><img src="https://avatars0.githubusercontent.com/u/9428713?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikox94](https://github.com/nikox94)**
_Sunday Oct 29, 2017 at 20:50 GMT_

----

Now I will wait some hours or days for the AWS LB to change the underlying IPs for the federated service.

Also please bear in mind that the 3rd

[2018-02-02 14:34] irfanurrehman commented on #203
<a href="https://github.com/nikox94"><img src="https://avatars0.githubusercontent.com/u/9428713?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikox94](https://github.com/nikox94)**
_Monday Oct 30, 2017 at 16:45 GMT_

----

AWS ELB IPs have not yet changed. Will wait a bit more, if they don't change will look into a way of manually triggering a change.

[2018-02-02 14:34] irfanurrehman commented on #203
<a href="https://github.com/nikox94"><img src="https://avatars0.githubusercontent.com/u/9428713?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikox94](https://github.com/nikox94)**
_Monday Oct 30, 2017 at 21:59 GMT_

----

OK so "we are in the game" as we say in Bulgaria. Issue reproduced!

Now AWS changed LB IPs:
[code]

This means new LB IPs are now `52.38.9.41, 5

[2018-02-02 14:34] irfanurrehman commented on #203
<a href="https://github.com/shashidharatd"><img src="https://avatars3.githubusercontent.com/u/8734900?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [shashidharatd](https://github.com/shashidharatd)**
_Monday Nov 13, 2017 at 14:01 GMT_

----

Hello @nikox94,
What you tested above is using one cluster. But if you add another cluster to federation, then the records for

[2018-02-02 14:34] irfanurrehman commented on #203
<a href="https://github.com/nikox94"><img src="https://avatars0.githubusercontent.com/u/9428713?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikox94](https://github.com/nikox94)**
_Wednesday Nov 15, 2017 at 07:46 GMT_

----

So, after a short call with @shashidharatd, we reached the conclusion that implementing a full-blown DNS load balancing is too ambitious for n

[2018-02-02 14:34] irfanurrehman commented on #203
<a href="https://github.com/quinton-hoole"><img src="https://avatars0.githubusercontent.com/u/10390785?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [quinton-hoole](https://github.com/quinton-hoole)**
_Monday Nov 20, 2017 at 19:21 GMT_

----

For the record, @nikox94 and I had a slack chat, and came to a slightly different conclusion.  I will leave it to him to post

[2018-02-02 14:34] irfanurrehman commented on #203
<a href="https://github.com/nikox94"><img src="https://avatars0.githubusercontent.com/u/9428713?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikox94](https://github.com/nikox94)**
_Tuesday Nov 21, 2017 at 16:07 GMT_

----

Hey @quinton-hoole, thank you for the welcoming atmosphere! :)

I have been a bit busy fighting some other fires this week, but have started run

[2018-02-02 14:34] irfanurrehman commented on #203
<a href="https://github.com/nikox94"><img src="https://avatars0.githubusercontent.com/u/9428713?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikox94](https://github.com/nikox94)**
_Sunday Nov 26, 2017 at 09:52 GMT_

----

My WIP merge request can be found here: https://github.com/kubernetes/federation/pull/155
It's **not** yet ready for final review. A lot of work

[2018-02-02 14:34] irfanurrehman commented on #203
cc @juntagabor

[2018-02-02 14:34] irfanurrehman opened #204 "Big route53 accounts may cause dnsprovider to hit rate limits"
<a href="https://github.com/justinsb"><img src="https://avatars2.githubusercontent.com/u/100893?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [justinsb](https://github.com/justinsb)**
_Tuesday Jan 10, 2017 at 15:00 GMT_
_Originally opened as https://github.com/kubernetes/kubernetes/issues/39674_

----

The route53 dnsprovider doesn't implement filtering.  On Route53, t

[2018-02-02 14:34] irfanurrehman commented on #204
<a href="https://github.com/chrislovecnm"><img src="https://avatars2.githubusercontent.com/u/335402?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [chrislovecnm](https://github.com/chrislovecnm)**
_Wednesday Jan 11, 2017 at 19:05 GMT_

----

@justinsb can you provide more details on the code base this is coming from?

[2018-02-02 14:34] irfanurrehman commented on #204
<a href="https://github.com/chrislovecnm"><img src="https://avatars2.githubusercontent.com/u/335402?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [chrislovecnm](https://github.com/chrislovecnm)**
_Wednesday Jan 11, 2017 at 19:07 GMT_

----

cc: @kubernetes/sig-aws-misc

[2018-02-02 14:34] irfanurrehman commented on #204
<a href="https://github.com/justinsb"><img src="https://avatars2.githubusercontent.com/u/100893?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [justinsb](https://github.com/justinsb)**
_Wednesday Jan 11, 2017 at 19:44 GMT_

----

@chrislovecnm  https://github.com/kubernetes/kubernetes/tree/master/federation/pkg/dnsprovider/providers/aws/route53

[2018-02-02 14:34] irfanurrehman commented on #204
<a href="https://github.com/chrislovecnm"><img src="https://avatars2.githubusercontent.com/u/335402?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [chrislovecnm](https://github.com/chrislovecnm)**
_Thursday Feb 16, 2017 at 20:16 GMT_

----

FYI

Top three API calls that we are getting.  I am uncertain if we are using the PRs on this ticket.

1. ListHostedZonesByName
1

[2018-02-02 14:34] irfanurrehman commented on #204
<a href="https://github.com/quinton-hoole"><img src="https://avatars0.githubusercontent.com/u/10390785?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [quinton-hoole](https://github.com/quinton-hoole)**
_Friday Sep 08, 2017 at 00:55 GMT_

----

I think we need to fix this before GA of federation. Prioritizing accordingly.

[2018-02-02 14:34] irfanurrehman commented on #204
<a href="https://github.com/fejta-bot"><img src="https://avatars1.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Monday Jan 08, 2018 at 17:25 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d

[2018-02-02 14:34] irfanurrehman commented on #204
cc @justinsb

[2018-02-02 14:34] irfanurrehman opened #205 "dnsprovider: large google cloud dns rrsets could be truncated"
<a href="https://github.com/justinsb"><img src="https://avatars2.githubusercontent.com/u/100893?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [justinsb](https://github.com/justinsb)**
_Thursday Jan 12, 2017 at 14:53 GMT_
_Originally opened as https://github.com/kubernetes/kubernetes/issues/39804_

----

We don't implement pagination when retrieving rrsets from google c

[2018-02-02 14:35] irfanurrehman commented on #205
<a href="https://github.com/quinton-hoole"><img src="https://avatars0.githubusercontent.com/u/10390785?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [quinton-hoole](https://github.com/quinton-hoole)**
_Friday Sep 08, 2017 at 00:48 GMT_

----

We need to address this before GA.

[2018-02-02 14:35] irfanurrehman commented on #205
<a href="https://github.com/fejta-bot"><img src="https://avatars1.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Monday Jan 08, 2018 at 18:26 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d

[2018-02-02 14:35] irfanurrehman commented on #205
cc @justinsb

[2018-02-02 14:35] irfanurrehman opened #206 "federation API not in client-go"
<a href="https://github.com/justinsb"><img src="https://avatars2.githubusercontent.com/u/100893?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [justinsb](https://github.com/justinsb)**
_Sunday Feb 12, 2017 at 20:27 GMT_
_Originally opened as https://github.com/kubernetes/kubernetes/issues/41302_

----

The federation objects are not currently in client-go.  I believe th

[2018-02-02 14:35] irfanurrehman commented on #206
<a href="https://github.com/liggitt"><img src="https://avatars0.githubusercontent.com/u/980082?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [liggitt](https://github.com/liggitt)**
_Monday Feb 13, 2017 at 04:21 GMT_

----

cc @kubernetes/sig-api-machinery-misc @kubernetes/sig-federation-feature-requests

[2018-02-02 14:35] irfanurrehman commented on #206
<a href="https://github.com/sttts"><img src="https://avatars0.githubusercontent.com/u/730123?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [sttts](https://github.com/sttts)**
_Monday Feb 13, 2017 at 07:37 GMT_

----

We could blindly copy federation types into client-go as well. But I would very much prefer to start thinking about making client-go more composable to

[2018-02-02 14:35] irfanurrehman commented on #206
<a href="https://github.com/deads2k"><img src="https://avatars0.githubusercontent.com/u/8225098?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [deads2k](https://github.com/deads2k)**
_Monday Feb 13, 2017 at 13:17 GMT_

----

I agree.  We need to think about how different client-go APIs interact and build on top of each other instead of simply producing a copy/paste wh

[2018-02-02 14:35] irfanurrehman commented on #206
<a href="https://github.com/lavalamp"><img src="https://avatars0.githubusercontent.com/u/647318?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [lavalamp](https://github.com/lavalamp)**
_Monday Feb 13, 2017 at 23:23 GMT_

----

client-go should not be a grab bag for clients for all APIs. The long term plan here is to have a two-layer client structure.

* client-core co

[2018-02-02 14:35] irfanurrehman commented on #206
<a href="https://github.com/caesarxuchao"><img src="https://avatars2.githubusercontent.com/u/2823529?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [caesarxuchao](https://github.com/caesarxuchao)**
_Tuesday Feb 14, 2017 at 04:22 GMT_

----

I agree with @lavalamp's vision.

[2018-02-02 14:35] irfanurrehman commented on #206
<a href="https://github.com/k8s-merge-robot"><img src="https://avatars0.githubusercontent.com/u/13653959?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [k8s-merge-robot](https://github.com/k8s-merge-robot)**
_Wednesday May 31, 2017 at 22:54 GMT_

----

@justinsb There are no sig labels on this issue. Please [add a sig label](https://github.com/kubernetes/test-infra/bl

[2018-02-02 14:35] irfanurrehman commented on #206
<a href="https://github.com/fejta-bot"><img src="https://avatars1.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Monday Jan 08, 2018 at 18:26 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d

[2018-02-02 14:35] irfanurrehman commented on #206
cc @justinsb

[2018-02-02 14:35] irfanurrehman opened #207 "[Federation][kubefed][aws kops cluster] Cluster stays in unknown state & TLS handshake error"
<a href="https://github.com/csarora"><img src="https://avatars2.githubusercontent.com/u/15997233?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [csarora](https://github.com/csarora)**
_Tuesday Feb 28, 2017 at 16:51 GMT_
_Originally opened as https://github.com/kubernetes/kubernetes/issues/42263_

----

**Kubernetes version** :
Client Version: version.Info{Major:"1", Min

[2018-02-02 14:35] irfanurrehman commented on #207
<a href="https://github.com/csarora"><img src="https://avatars2.githubusercontent.com/u/15997233?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [csarora](https://github.com/csarora)**
_Thursday Mar 09, 2017 at 16:18 GMT_

----

Any updates what could be the issue?

[2018-02-02 14:35] irfanurrehman commented on #207
<a href="https://github.com/kargakis"><img src="https://avatars3.githubusercontent.com/u/3900799?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [kargakis](https://github.com/kargakis)**
_Tuesday Jun 20, 2017 at 17:52 GMT_

----

@kubernetes/sig-federation-misc @kubernetes/sig-aws-misc

[2018-02-02 14:35] irfanurrehman commented on #207
<a href="https://github.com/fejta-bot"><img src="https://avatars1.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Monday Jan 08, 2018 at 18:26 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d

[2018-02-02 14:35] irfanurrehman commented on #207
cc @csarora

[2018-02-02 14:35] irfanurrehman opened #208 "[Federation] Joining cluster service accounts roles created by kubefed join are very broad"
<a href="https://github.com/perotinus"><img src="https://avatars1.githubusercontent.com/u/5122391?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [perotinus](https://github.com/perotinus)**
_Wednesday Mar 01, 2017 at 20:25 GMT_
_Originally opened as https://github.com/kubernetes/kubernetes/issues/42355_

----

This is a follow-up to #41267.

Currently, the service accoun

[2018-02-02 14:35] irfanurrehman commented on #208
<a href="https://github.com/fejta-bot"><img src="https://avatars1.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Monday Jan 08, 2018 at 17:25 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d

[2018-02-02 14:35] irfanurrehman commented on #208
cc @perotinus

[2018-02-02 14:35] irfanurrehman opened #209 "[Federation] Federation should fully support clusters with a previous API version."
<a href="https://github.com/marun"><img src="https://avatars3.githubusercontent.com/u/451477?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [marun](https://github.com/marun)**
_Thursday Apr 06, 2017 at 14:42 GMT_
_Originally opened as https://github.com/kubernetes/kubernetes/issues/44160_

----

As per a [thread](https://groups.google.com/d/msg/kubernetes-sig-federation

[2018-02-02 14:35] irfanurrehman commented on #209
<a href="https://github.com/marun"><img src="https://avatars3.githubusercontent.com/u/451477?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [marun](https://github.com/marun)**
_Thursday Apr 06, 2017 at 14:42 GMT_

----

A naive attempt to support backwards compatible federation: #44131

[2018-02-02 14:35] irfanurrehman commented on #209
<a href="https://github.com/quinton-hoole"><img src="https://avatars0.githubusercontent.com/u/10390785?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [quinton-hoole](https://github.com/quinton-hoole)**
_Thursday Apr 06, 2017 at 17:44 GMT_

----

Maru, it's not entirely clear to me that this is not approximately "working as intended" from the client's point of view (ot

[2018-02-02 14:35] irfanurrehman commented on #209
<a href="https://github.com/derekwaynecarr"><img src="https://avatars3.githubusercontent.com/u/6233452?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [derekwaynecarr](https://github.com/derekwaynecarr)**
_Thursday Apr 06, 2017 at 18:09 GMT_

----

@quinton-hoole -- if the goal of federation is to federate across each member cluster, it seems that at minimum, the feder

[2018-02-02 14:35] irfanurrehman commented on #209
<a href="https://github.com/quinton-hoole"><img src="https://avatars0.githubusercontent.com/u/10390785?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [quinton-hoole](https://github.com/quinton-hoole)**
_Thursday Apr 06, 2017 at 18:58 GMT_

----

From: Maru Newby <marun@redhat.com>
Date: Thu, Apr 6, 2017 at 11:12 AM
Subject: Re: [k8s API machinery] Re: Backwards compat

[2018-02-02 14:35] irfanurrehman commented on #209
<a href="https://github.com/quinton-hoole"><img src="https://avatars0.githubusercontent.com/u/10390785?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [quinton-hoole](https://github.com/quinton-hoole)**
_Thursday Apr 06, 2017 at 19:04 GMT_

----

@marun I'm no K8s API versioning expert but @nikhiljindal is, and can hopefully confirm.

Continuing our v1.5 vs v1.6 exampl

[2018-02-02 14:35] irfanurrehman commented on #209
<a href="https://github.com/derekwaynecarr"><img src="https://avatars3.githubusercontent.com/u/6233452?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [derekwaynecarr](https://github.com/derekwaynecarr)**
_Thursday Apr 06, 2017 at 19:16 GMT_

----

@quinton-hoole -- my takeaway, is that federation supports skew in that member clusters can be later versions, but federat

[2018-02-02 14:35] irfanurrehman commented on #209
<a href="https://github.com/quinton-hoole"><img src="https://avatars0.githubusercontent.com/u/10390785?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [quinton-hoole](https://github.com/quinton-hoole)**
_Thursday Apr 06, 2017 at 19:16 GMT_

----

@derekwaynecarr in response to [your comment/question above](https://github.com/kubernetes/kubernetes/issues/44160#issuecomm

[2018-02-02 14:35] irfanurrehman commented on #209
<a href="https://github.com/quinton-hoole"><img src="https://avatars0.githubusercontent.com/u/10390785?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [quinton-hoole](https://github.com/quinton-hoole)**
_Thursday Apr 06, 2017 at 19:26 GMT_

----

@derekwaynecarr @marun One potentially useful optional feature that we could consider supporting  would be preventing (in th

[2018-02-02 14:36] irfanurrehman commented on #209
<a href="https://github.com/marun"><img src="https://avatars3.githubusercontent.com/u/451477?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [marun](https://github.com/marun)**
_Thursday Apr 06, 2017 at 20:36 GMT_

----

@quinton-hoole I think you may be confusing 'kube version' and 'api version'.

 - ``1.6.x`` and ``1.5.x`` are kube versions, and they do not correspon

[2018-02-02 14:36] irfanurrehman commented on #209
<a href="https://github.com/marun"><img src="https://avatars3.githubusercontent.com/u/451477?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [marun](https://github.com/marun)**
_Thursday Apr 06, 2017 at 21:22 GMT_

----

As per @smarterclayton's recent comment on the ml thread, it may be possible to automate detection of field changes across kube versions either by dif

[2018-02-02 14:36] irfanurrehman commented on #209
<a href="https://github.com/quinton-hoole"><img src="https://avatars0.githubusercontent.com/u/10390785?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [quinton-hoole](https://github.com/quinton-hoole)**
_Thursday Apr 06, 2017 at 22:06 GMT_

----

From: Clayton Coleman <ccoleman@redhat.com>
Date: Thu, Apr 6, 2017 at 12:53 PM
Subject: Re: [k8s API machinery] Re: Backward

[2018-02-02 14:36] irfanurrehman commented on #209
<a href="https://github.com/quinton-hoole"><img src="https://avatars0.githubusercontent.com/u/10390785?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [quinton-hoole](https://github.com/quinton-hoole)**
_Thursday Apr 06, 2017 at 22:06 GMT_

----

From: Maru Newby <marun@redhat.com>
Date: Thu, Apr 6, 2017 at 2:06 PM
Subject: Re: [k8s API machinery] Re: Backwards compati

[2018-02-02 14:36] irfanurrehman commented on #209
<a href="https://github.com/quinton-hoole"><img src="https://avatars0.githubusercontent.com/u/10390785?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [quinton-hoole](https://github.com/quinton-hoole)**
_Thursday Apr 06, 2017 at 22:07 GMT_

----

---------- Forwarded message ----------
From: Clayton Coleman <ccoleman@redhat.com>
Date: Thu, Apr 6, 2017 at 2:33 PM
Subjec

[2018-02-02 14:36] irfanurrehman commented on #209
<a href="https://github.com/quinton-hoole"><img src="https://avatars0.githubusercontent.com/u/10390785?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [quinton-hoole](https://github.com/quinton-hoole)**
_Thursday Apr 06, 2017 at 22:18 GMT_

----

An alternative idea I had was to do the version conversion automatically in the typed clientset, e.g.

import clientset_v1_5

[2018-02-02 14:36] irfanurrehman commented on #209
<a href="https://github.com/quinton-hoole"><img src="https://avatars0.githubusercontent.com/u/10390785?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [quinton-hoole](https://github.com/quinton-hoole)**
_Thursday Apr 06, 2017 at 23:19 GMT_

----

I updated the title.  Let me know if you disagree @marun

[2018-02-02 14:36] irfanurrehman commented on #209
<a href="https://github.com/marun"><img src="https://avatars3.githubusercontent.com/u/451477?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [marun](https://github.com/marun)**
_Friday Apr 07, 2017 at 00:15 GMT_

----

@smarterclayton

I'm not sure what you mean since the discussion was about propagating resources to member clusters.  How would user submission come int

[2018-02-02 14:36] irfanurrehman commented on #209
<a href="https://github.com/marun"><img src="https://avatars3.githubusercontent.com/u/451477?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [marun](https://github.com/marun)**
_Friday Apr 07, 2017 at 00:33 GMT_

----

@quinton-hoole Are you suggesting having an informer for each of a fixed set of versions for any watched federated type? Or have the set of versions be

[2018-02-02 14:36] irfanurrehman commented on #209
<a href="https://github.com/lavalamp"><img src="https://avatars0.githubusercontent.com/u/647318?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [lavalamp](https://github.com/lavalamp)**
_Friday Apr 07, 2017 at 16:57 GMT_

----

(copy from email thread)

This is an interesting problem. Note that our go client has the exact same issue, where it drops fields it fails to u

[2018-02-02 14:36] irfanurrehman commented on #209
<a href="https://github.com/bgrant0607"><img src="https://avatars1.githubusercontent.com/u/7725777?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bgrant0607](https://github.com/bgrant0607)**
_Friday Apr 07, 2017 at 17:06 GMT_

----

We have similar problems even within a single cluster, particularly due to apiserver-kubelet skew: #4855.

[2018-02-02 14:36] irfanurrehman commented on #209
<a href="https://github.com/lavalamp"><img src="https://avatars0.githubusercontent.com/u/647318?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [lavalamp](https://github.com/lavalamp)**
_Friday Apr 07, 2017 at 17:08 GMT_

----

We shouldn't be adding fields in patch releases like that, but if we did, it would be extremely difficult to handle with [this proposal](https:

[2018-02-02 14:36] irfanurrehman commented on #209
<a href="https://github.com/bgrant0607"><img src="https://avatars1.githubusercontent.com/u/7725777?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bgrant0607](https://github.com/bgrant0607)**
_Friday Apr 07, 2017 at 17:12 GMT_

----

Hmm. The appropriate sig-api-machinery teams don't exist, so I can't notify them.

Before any new API mechanism is developed, it should

[2018-02-02 14:36] irfanurrehman commented on #209
<a href="https://github.com/lavalamp"><img src="https://avatars0.githubusercontent.com/u/647318?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [lavalamp](https://github.com/lavalamp)**
_Friday Apr 07, 2017 at 17:52 GMT_

----

Oh, I thought @czahedi was going to make those.

[2018-02-02 14:36] irfanurrehman commented on #209
<a href="https://github.com/bgrant0607"><img src="https://avatars1.githubusercontent.com/u/7725777?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bgrant0607](https://github.com/bgrant0607)**
_Friday Apr 07, 2017 at 22:31 GMT_

----

@lavalamp FYI, when I last checked, not all resources set metadata.generation.

[2018-02-02 14:36] irfanurrehman commented on #209
<a href="https://github.com/bgrant0607"><img src="https://avatars1.githubusercontent.com/u/7725777?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bgrant0607](https://github.com/bgrant0607)**
_Friday Apr 07, 2017 at 22:32 GMT_

----

@janetkuo, since it's similar-ish to the Deployment<->ReplicaSet sync'ing problem.

[2018-02-02 14:36] irfanurrehman commented on #209
<a href="https://github.com/czahedi"><img src="https://avatars3.githubusercontent.com/u/20363028?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [czahedi](https://github.com/czahedi)**
_Tuesday Apr 11, 2017 at 20:37 GMT_

----

I am making the API Machinery email lists, GitHub users, etc. now.

[2018-02-02 14:36] irfanurrehman commented on #209
<a href="https://github.com/bgrant0607"><img src="https://avatars1.githubusercontent.com/u/7725777?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bgrant0607](https://github.com/bgrant0607)**
_Thursday Apr 13, 2017 at 21:59 GMT_

----

FYI, metadata.generation is not set for every resource yet.

#7328

[2018-02-02 14:36] irfanurrehman commented on #209
<a href="https://github.com/nikhiljindal"><img src="https://avatars0.githubusercontent.com/u/10199099?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikhiljindal](https://github.com/nikhiljindal)**
_Monday Apr 17, 2017 at 06:21 GMT_

----

From @quinton-hoole

Yes I agree. Ideally, users should be able indicate what should happen if FCP cannot guarantee all the field

[2018-02-02 14:36] irfanurrehman commented on #209
<a href="https://github.com/nikhiljindal"><img src="https://avatars0.githubusercontent.com/u/10199099?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikhiljindal](https://github.com/nikhiljindal)**
_Monday Apr 17, 2017 at 06:34 GMT_

----

From @marun @smarterclayton

I assume @smarterclayton meant that with swagger spec FCP can know up front what all fields are supp

[2018-02-02 14:36] irfanurrehman commented on #209
<a href="https://github.com/nikhiljindal"><img src="https://avatars0.githubusercontent.com/u/10199099?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikhiljindal](https://github.com/nikhiljindal)**
_Monday Apr 17, 2017 at 06:49 GMT_

----

In summary, we are discussing 4 issues here:

### 1. How to determine what fields are supported in each cluster
Proposed solution

[2018-02-02 14:36] irfanurrehman commented on #209
<a href="https://github.com/quinton-hoole"><img src="https://avatars0.githubusercontent.com/u/10390785?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [quinton-hoole](https://github.com/quinton-hoole)**
_Monday Apr 17, 2017 at 15:45 GMT_

----

@nikhiljindal Yup, I think you got most of it.  Two minor comments:

Re 4, And besides that, I don't think it's at all feasibl

[2018-02-02 14:36] irfanurrehman commented on #209
cc @marun

[2018-02-02 14:36] irfanurrehman opened #210 "[Federation] How should kubefed handle cluster access"
<a href="https://github.com/irfanurrehman"><img src="https://avatars0.githubusercontent.com/u/10027921?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [irfanurrehman](https://github.com/irfanurrehman)**
_Wednesday Apr 12, 2017 at 08:30 GMT_
_Originally opened as https://github.com/kubernetes/kubernetes/issues/44384_

----

This issue is a follow up to https://github.com/

[2018-02-02 14:36] irfanurrehman commented on #210
<a href="https://github.com/irfanurrehman"><img src="https://avatars0.githubusercontent.com/u/10027921?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [irfanurrehman](https://github.com/irfanurrehman)**
_Wednesday Apr 12, 2017 at 08:31 GMT_

----

cc @kubernetes/sig-federation-misc @kubernetes/sig-federation-bugs

[2018-02-02 14:36] irfanurrehman commented on #210
<a href="https://github.com/irfanurrehman"><img src="https://avatars0.githubusercontent.com/u/10027921?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [irfanurrehman](https://github.com/irfanurrehman)**
_Thursday Apr 13, 2017 at 07:17 GMT_

----

@madhusudancs @perotinus, please add if I have missed something.

[2018-02-02 14:36] irfanurrehman commented on #210
<a href="https://github.com/perotinus"><img src="https://avatars1.githubusercontent.com/u/5122391?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [perotinus](https://github.com/perotinus)**
_Thursday Apr 13, 2017 at 17:56 GMT_

----

That's a great summary. Thanks @irfanurrehman! The only thing I can think to add is that adding support for checking API access for the c

[2018-02-02 14:36] irfanurrehman commented on #210
<a href="https://github.com/madhusudancs"><img src="https://avatars0.githubusercontent.com/u/10183?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [madhusudancs](https://github.com/madhusudancs)**
_Friday Apr 14, 2017 at 20:08 GMT_

----

@irfanurrehman thanks for the great summary. I think service account with right RBAC roles should be the default path.

I don't thin

[2018-02-02 14:36] irfanurrehman commented on #210
<a href="https://github.com/fejta-bot"><img src="https://avatars1.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Monday Jan 08, 2018 at 17:25 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d

[2018-02-02 14:36] irfanurrehman commented on #210
cc @irfanurrehman

[2018-02-02 14:36] irfanurrehman opened #211 "Federation should use namespace scoped service accounts to talk to underlying clusters"
<a href="https://github.com/nikhiljindal"><img src="https://avatars0.githubusercontent.com/u/10199099?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [nikhiljindal](https://github.com/nikhiljindal)**
_Friday Apr 21, 2017 at 00:43 GMT_
_Originally opened as https://github.com/kubernetes/kubernetes/issues/44743_

----

Background: Federation today uses a single identity to

[2018-02-02 14:36] irfanurrehman commented on #211
<a href="https://github.com/ericchiang"><img src="https://avatars1.githubusercontent.com/u/2342749?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ericchiang](https://github.com/ericchiang)**
_Friday Apr 21, 2017 at 00:47 GMT_

----

I drew up some RBAC roles yesterday in attempt to limit the federated credentials to a couple namespaces: https://gist.github.com/ericch

[2018-02-02 14:37] irfanurrehman commented on #211
<a href="https://github.com/nikhiljindal"><img src="https://avatars0.githubusercontent.com/u/10199099?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikhiljindal](https://github.com/nikhiljindal)**
_Friday Apr 21, 2017 at 00:57 GMT_

----

Who will create this service account that has access to both the namespaces?
If a team has access to only one namespace, can they

[2018-02-02 14:37] irfanurrehman commented on #211
<a href="https://github.com/liggitt"><img src="https://avatars0.githubusercontent.com/u/980082?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [liggitt](https://github.com/liggitt)**
_Friday Apr 21, 2017 at 01:05 GMT_

----

If they have the ability to grant access to a service account at all, they could do so for a single service account across both namespaces.

[2018-02-02 14:37] irfanurrehman commented on #211
<a href="https://github.com/nikhiljindal"><img src="https://avatars0.githubusercontent.com/u/10199099?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikhiljindal](https://github.com/nikhiljindal)**
_Monday Apr 24, 2017 at 06:23 GMT_

----

Yes you are right. I still need to grant access to the service account after creating it. I assumed creating an SA in a namespace

[2018-02-02 14:37] irfanurrehman commented on #211
<a href="https://github.com/nikhiljindal"><img src="https://avatars0.githubusercontent.com/u/10199099?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikhiljindal](https://github.com/nikhiljindal)**
_Monday May 01, 2017 at 21:56 GMT_

----

@ericchiang Realized that restricting the federation credentials to specific namespaces wont work (controllers assume that they h

[2018-02-02 14:37] irfanurrehman commented on #211
<a href="https://github.com/fejta-bot"><img src="https://avatars1.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Monday Jan 08, 2018 at 17:25 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d

[2018-02-02 14:37] irfanurrehman commented on #211
cc @nikhiljindal

[2018-02-02 14:37] irfanurrehman opened #212 "Should be able to restrict federation to specific namespaces"
<a href="https://github.com/nikhiljindal"><img src="https://avatars0.githubusercontent.com/u/10199099?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [nikhiljindal](https://github.com/nikhiljindal)**
_Monday May 01, 2017 at 21:54 GMT_
_Originally opened as https://github.com/kubernetes/kubernetes/issues/45189_

----

Came up while discussing with @marun that federation c

[2018-02-02 14:37] irfanurrehman commented on #212
<a href="https://github.com/csbell"><img src="https://avatars1.githubusercontent.com/u/23373339?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [csbell](https://github.com/csbell)**
_Monday May 01, 2017 at 22:08 GMT_

----

Are we forced to go down a pessimistic route here? IOW, if we say that federation can only watch *some* namespaces, will we ever be able to use Nam

[2018-02-02 14:37] irfanurrehman commented on #212
<a href="https://github.com/ericchiang"><img src="https://avatars1.githubusercontent.com/u/2342749?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ericchiang](https://github.com/ericchiang)**
_Monday May 01, 2017 at 22:33 GMT_

----

I think it's important that federation doesn't assume it has full access to the underlying clusters. Particularly for things like the se

[2018-02-02 14:37] irfanurrehman commented on #212
<a href="https://github.com/marun"><img src="https://avatars3.githubusercontent.com/u/451477?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [marun](https://github.com/marun)**
_Wednesday May 03, 2017 at 19:41 GMT_

----

Is it necessary to restrict federation to only specific namespaces?  Or can a list/watch for a given type return only resources that a user has permi

[2018-02-02 14:37] irfanurrehman commented on #212
<a href="https://github.com/liggitt"><img src="https://avatars0.githubusercontent.com/u/980082?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [liggitt](https://github.com/liggitt)**
_Wednesday May 03, 2017 at 20:06 GMT_

----

Implicit ACL-filtered watch is not supported today, and is not likely to be added.

It would need to be restricted to namespace foo

[2018-02-02 14:37] irfanurrehman commented on #212
<a href="https://github.com/luxas"><img src="https://avatars1.githubusercontent.com/u/5442475?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [luxas](https://github.com/luxas)**
_Saturday Jun 17, 2017 at 12:32 GMT_

----

cc @luxas @timothysc @jbeda

[2018-02-02 14:37] irfanurrehman commented on #212
<a href="https://github.com/fejta-bot"><img src="https://avatars1.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Monday Jan 08, 2018 at 17:25 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d

[2018-02-02 14:37] irfanurrehman commented on #212
cc @nikhiljindal

[2018-02-02 14:37] irfanurrehman opened #213 "Identify the server in audit webhook"
<a href="https://github.com/crassirostris"><img src="https://avatars1.githubusercontent.com/u/1756505?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [crassirostris](https://github.com/crassirostris)**
_Thursday Aug 03, 2017 at 09:14 GMT_
_Originally opened as https://github.com/kubernetes/kubernetes/issues/50076_

----

Spinning up a discussion from https://github.com/k

[2018-02-02 14:37] irfanurrehman commented on #213
<a href="https://github.com/sttts"><img src="https://avatars0.githubusercontent.com/u/730123?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [sttts](https://github.com/sttts)**
_Thursday Aug 10, 2017 at 17:39 GMT_

----

/cc @nikhiljindal

[2018-02-02 14:37] irfanurrehman commented on #213
<a href="https://github.com/sttts"><img src="https://avatars0.githubusercontent.com/u/730123?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [sttts](https://github.com/sttts)**
_Thursday Aug 10, 2017 at 17:40 GMT_

----

There were some discussions months ago around the idea to connect federation requests with requests "forwarded" to the kube-apiservers. If I understan

[2018-02-02 14:37] irfanurrehman commented on #213
<a href="https://github.com/nikhiljindal"><img src="https://avatars0.githubusercontent.com/u/10199099?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikhiljindal](https://github.com/nikhiljindal)**
_Wednesday Aug 16, 2017 at 19:08 GMT_

----

Umm am sorry am a bit lost. Not sure which Audit header is being talked about here.

I can provide context on the discussion I

[2018-02-02 14:37] irfanurrehman commented on #213
<a href="https://github.com/crassirostris"><img src="https://avatars1.githubusercontent.com/u/1756505?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [crassirostris](https://github.com/crassirostris)**
_Thursday Aug 17, 2017 at 08:42 GMT_

----

As far as I can see, there are actually two separate problems:

- Correlating audit events from the federation apiserver and

[2018-02-02 14:37] irfanurrehman commented on #213
<a href="https://github.com/ericchiang"><img src="https://avatars1.githubusercontent.com/u/2342749?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ericchiang](https://github.com/ericchiang)**
_Thursday Aug 17, 2017 at 18:12 GMT_

----

I think this would be like trying to correlate a request to create a replicaset with the follow up request to create a pod. This seems

[2018-02-02 14:37] irfanurrehman commented on #213
<a href="https://github.com/crassirostris"><img src="https://avatars1.githubusercontent.com/u/1756505?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [crassirostris](https://github.com/crassirostris)**
_Friday Aug 18, 2017 at 15:49 GMT_

----

No, that's a different thing. Imagine we have N events in the backend with the same AuditID, for the same call essentially. Som

[2018-02-02 14:37] irfanurrehman commented on #213
<a href="https://github.com/ericchiang"><img src="https://avatars1.githubusercontent.com/u/2342749?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ericchiang](https://github.com/ericchiang)**
_Friday Aug 18, 2017 at 16:29 GMT_

----

The federated API server doesn't behave like an aggregated API server where the request is proxied and the request will have the same Au

[2018-02-02 14:37] irfanurrehman commented on #213
<a href="https://github.com/crassirostris"><img src="https://avatars1.githubusercontent.com/u/1756505?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [crassirostris](https://github.com/crassirostris)**
_Sunday Aug 20, 2017 at 20:38 GMT_

----

@ericchiang OK, I see, thanks. I was thinking more about the kube-aggregator case and though that some calls in the federated s

[2018-02-02 14:37] irfanurrehman commented on #213
<a href="https://github.com/crassirostris"><img src="https://avatars1.githubusercontent.com/u/1756505?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [crassirostris](https://github.com/crassirostris)**
_Wednesday Oct 25, 2017 at 10:38 GMT_

----

WDYT about something like "audit context" -- object ref that would be populated by asynchronous servers like federation cont

[2018-02-02 14:37] irfanurrehman commented on #213
<a href="https://github.com/fejta-bot"><img src="https://avatars1.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Tuesday Jan 23, 2018 at 11:12 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d

[2018-02-02 14:37] irfanurrehman commented on #213
<a href="https://github.com/sttts"><img src="https://avatars0.githubusercontent.com/u/730123?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [sttts](https://github.com/sttts)**
_Thursday Jan 25, 2018 at 16:17 GMT_

----

/lifecycle frozen

[2018-02-02 14:37] irfanurrehman commented on #213
cc @crassirostris

[2018-02-02 14:37] irfanurrehman opened #214 "federation: Creating a Type LoadBalancer federated service and federated ingress can lead to resource leak"
<a href="https://github.com/nikhiljindal"><img src="https://avatars0.githubusercontent.com/u/10199099?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [nikhiljindal](https://github.com/nikhiljindal)**
_Monday Sep 11, 2017 at 23:34 GMT_
_Originally opened as https://github.com/kubernetes/kubernetes/issues/52315_

----

Steps to repro:
Create a federated service of type Loa

[2018-02-02 14:37] irfanurrehman commented on #214
<a href="https://github.com/nikhiljindal"><img src="https://avatars0.githubusercontent.com/u/10199099?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikhiljindal](https://github.com/nikhiljindal)**
_Monday Sep 11, 2017 at 23:44 GMT_

----

cc @marun (current on call)
This is one of the reason why some our e2e tests are failing.
We have been leaking the resources for

[2018-02-02 14:37] irfanurrehman commented on #214
<a href="https://github.com/madhusudancs"><img src="https://avatars0.githubusercontent.com/u/10183?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [madhusudancs](https://github.com/madhusudancs)**
_Wednesday Sep 13, 2017 at 22:07 GMT_

----

PR https://github.com/kubernetes/test-infra/pull/4545 is the short-term fix.

[2018-02-02 14:37] irfanurrehman commented on #214
<a href="https://github.com/nikhiljindal"><img src="https://avatars0.githubusercontent.com/u/10199099?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikhiljindal](https://github.com/nikhiljindal)**
_Tuesday Oct 10, 2017 at 17:16 GMT_

----

@kubernetes/sig-multicluster-feature-requests
/sig multicluster

[2018-02-02 14:37] irfanurrehman commented on #214
<a href="https://github.com/walteraa"><img src="https://avatars1.githubusercontent.com/u/5852041?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [walteraa](https://github.com/walteraa)**
_Tuesday Oct 10, 2017 at 17:27 GMT_

----

@nikhiljindal The same is happening to DNS entries. I think when a federated service is deleted, all entries referring to this service should

[2018-02-02 14:37] irfanurrehman commented on #214
<a href="https://github.com/nikhiljindal"><img src="https://avatars0.githubusercontent.com/u/10199099?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikhiljindal](https://github.com/nikhiljindal)**
_Tuesday Oct 10, 2017 at 18:49 GMT_

----

@walteraa Please feel free to file an issue for that. Please include steps to repro if you are able to repro it consistently.

[2018-02-02 14:38] irfanurrehman commented on #214
<a href="https://github.com/fejta-bot"><img src="https://avatars1.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Thursday Jan 11, 2018 at 17:36 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30

[2018-02-02 14:38] irfanurrehman commented on #214
<a href="https://github.com/kinghrothgar"><img src="https://avatars0.githubusercontent.com/u/1952767?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [kinghrothgar](https://github.com/kinghrothgar)**
_Thursday Jan 11, 2018 at 20:38 GMT_

----

I believe we maybe running into this.  When we spin up a federated ingress-gce, one of the 4 regions randomly ends up with in an

[2018-02-02 14:38] irfanurrehman commented on #214
<a href="https://github.com/cmluciano"><img src="https://avatars1.githubusercontent.com/u/4790487?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [cmluciano](https://github.com/cmluciano)**
_Friday Jan 12, 2018 at 18:00 GMT_

----

@kubernetes/sig-gcp-bugs

[2018-02-02 14:38] irfanurrehman commented on #214
<a href="https://github.com/nikhiljindal"><img src="https://avatars0.githubusercontent.com/u/10199099?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikhiljindal](https://github.com/nikhiljindal)**
_Friday Jan 12, 2018 at 20:00 GMT_

----

fwiw, you can now try out kubemci, a command line tool to setup multi cluster ingresses: https://github.com/GoogleCloudPlatform/k

[2018-02-02 14:38] irfanurrehman commented on #214
cc @nikhiljindal

[2018-02-02 14:38] irfanurrehman opened #215 "Federated deployments cannot be deleted"
<a href="https://github.com/jsgoller1"><img src="https://avatars3.githubusercontent.com/u/1567977?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jsgoller1](https://github.com/jsgoller1)**
_Sunday Oct 08, 2017 at 13:20 GMT_
_Originally opened as https://github.com/kubernetes/kubernetes/issues/53566_

----

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig cl

[2018-02-02 14:38] irfanurrehman commented on #215
<a href="https://github.com/ljmatkins"><img src="https://avatars3.githubusercontent.com/u/868806?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ljmatkins](https://github.com/ljmatkins)**
_Thursday Oct 26, 2017 at 22:47 GMT_

----

FWIW, I am also seeing this issue when running on a GKE Kubernetes 1.8.1 federation.

`Client Version: version.Info{Major:"1", Minor:"7",

[2018-02-02 14:38] irfanurrehman commented on #215
<a href="https://github.com/jianhuiz"><img src="https://avatars1.githubusercontent.com/u/1171596?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jianhuiz](https://github.com/jianhuiz)**
_Monday Oct 30, 2017 at 19:56 GMT_

----

This is because that moving federation controllers to sync controller failed to update
`Status.ObservedGeneration` (e.g. https://github.com/ku

[2018-02-02 14:38] irfanurrehman commented on #215
<a href="https://github.com/YaweiWu"><img src="https://avatars2.githubusercontent.com/u/2359470?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [YaweiWu](https://github.com/YaweiWu)**
_Wednesday Nov 01, 2017 at 02:22 GMT_

----

+1

- Kubernetes version:

[code]

- OS:

`CentOS Linux release 7.4.1708 (Core)`

[2018-02-02 14:38] irfanurrehman commented on #215
<a href="https://github.com/arthur0"><img src="https://avatars1.githubusercontent.com/u/7016388?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [arthur0](https://github.com/arthur0)**
_Wednesday Nov 01, 2017 at 02:29 GMT_

----

+1
Same for me, using a hybrid environment (OpenStack + GKE). The only way to delete deployments is creating them in another namespace differe

[2018-02-02 14:38] irfanurrehman commented on #215
<a href="https://github.com/blairccx"><img src="https://avatars3.githubusercontent.com/u/29876975?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [blairccx](https://github.com/blairccx)**
_Thursday Nov 02, 2017 at 20:15 GMT_

----

+1

Happening for me in AWS.

[code]

[2018-02-02 14:38] irfanurrehman commented on #215
<a href="https://github.com/djay87"><img src="https://avatars1.githubusercontent.com/u/29885907?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [djay87](https://github.com/djay87)**
_Monday Nov 13, 2017 at 13:12 GMT_

----

+1

[2018-02-02 14:38] irfanurrehman commented on #215
<a href="https://github.com/glindste"><img src="https://avatars2.githubusercontent.com/u/1015224?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [glindste](https://github.com/glindste)**
_Wednesday Nov 15, 2017 at 10:11 GMT_

----

+1 in GKE with version 1.8.2-gke.0

[2018-02-02 14:38] irfanurrehman commented on #215
<a href="https://github.com/clsacramento"><img src="https://avatars3.githubusercontent.com/u/6493751?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [clsacramento](https://github.com/clsacramento)**
_Thursday Nov 16, 2017 at 12:04 GMT_

----

+1 GKE host cluster federated with azure.
Also +1 with baremetal host + Azure.

[2018-02-02 14:38] irfanurrehman commented on #215
<a href="https://github.com/stephenbm"><img src="https://avatars0.githubusercontent.com/u/861571?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [stephenbm](https://github.com/stephenbm)**
_Monday Nov 20, 2017 at 11:08 GMT_

----

+1 on Openstack 1.8.3
[code]

[2018-02-02 14:38] irfanurrehman commented on #215
<a href="https://github.com/dims"><img src="https://avatars2.githubusercontent.com/u/23304?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dims](https://github.com/dims)**
_Wednesday Nov 22, 2017 at 12:33 GMT_

----

/sig federation

[2018-02-02 14:38] irfanurrehman commented on #215
<a href="https://github.com/dims"><img src="https://avatars2.githubusercontent.com/u/23304?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dims](https://github.com/dims)**
_Wednesday Nov 22, 2017 at 12:34 GMT_

----

/sig multicluster

[2018-02-02 14:38] irfanurrehman commented on #215
<a href="https://github.com/Blasterdick"><img src="https://avatars0.githubusercontent.com/u/10155587?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [Blasterdick](https://github.com/Blasterdick)**
_Thursday Nov 30, 2017 at 14:26 GMT_

----

+1 on federated 1.8.3-gke.0 (Google Container Engine)

[2018-02-02 14:38] irfanurrehman commented on #215
<a href="https://github.com/nikhiljindal"><img src="https://avatars0.githubusercontent.com/u/10199099?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nikhiljindal](https://github.com/nikhiljindal)**
_Friday Dec 01, 2017 at 08:13 GMT_

----

Removing sig/cli label since as Jianhuiz [pointed out](https://github.com/kubernetes/kubernetes/issues/53566#issuecomment-3405653

[2018-02-02 14:38] irfanurrehman commented on #215
<a href="https://github.com/tommyknows"><img src="https://avatars2.githubusercontent.com/u/16387735?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [tommyknows](https://github.com/tommyknows)**
_Friday Jan 05, 2018 at 08:57 GMT_

----

Bug still persists on k8s 1.9.0, On-Premise.
I am able to delete the deployment when executing the following command(s):
[code]
Only de

[2018-02-02 14:38] irfanurrehman commented on #215
<a href="https://github.com/Blasterdick"><img src="https://avatars0.githubusercontent.com/u/10155587?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [Blasterdick](https://github.com/Blasterdick)**
_Friday Jan 12, 2018 at 09:33 GMT_

----

@tommyknows great thanks, mate, but sure it has to be solved by devs, as it's such a duct tape fix for a project like k8s :)

[2018-02-02 14:38] irfanurrehman commented on #215
cc @jsgoller1

[2018-02-02 14:38] irfanurrehman opened #216 "`kubefed join` do not clear garbage data if join failed"
<a href="https://github.com/gyliu513"><img src="https://avatars1.githubusercontent.com/u/4461983?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [gyliu513](https://github.com/gyliu513)**
_Saturday Oct 14, 2017 at 02:52 GMT_
_Originally opened as https://github.com/kubernetes/kubernetes/issues/53928_

----

**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What

[2018-02-02 14:38] irfanurrehman commented on #216
<a href="https://github.com/gyliu513"><img src="https://avatars1.githubusercontent.com/u/4461983?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [gyliu513](https://github.com/gyliu513)**
_Saturday Oct 14, 2017 at 02:53 GMT_

----

Sorry I donot have the clear CLI as steps here, this was encountered in a customer site and I cannot get the data back, but this can be easi

[2018-02-02 14:38] irfanurrehman commented on #216
<a href="https://github.com/gyliu513"><img src="https://avatars1.githubusercontent.com/u/4461983?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [gyliu513](https://github.com/gyliu513)**
_Saturday Oct 14, 2017 at 07:50 GMT_

----

I was using Kubernetes 1.7.3

[2018-02-02 14:38] irfanurrehman commented on #216
<a href="https://github.com/clenimar"><img src="https://avatars3.githubusercontent.com/u/410648?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [clenimar](https://github.com/clenimar)**
_Monday Oct 16, 2017 at 18:31 GMT_

----

this is indeed very annoying. I'll tackle this one.

[2018-02-02 14:38] irfanurrehman commented on #216
<a href="https://github.com/clenimar"><img src="https://avatars3.githubusercontent.com/u/410648?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [clenimar](https://github.com/clenimar)**
_Monday Oct 16, 2017 at 18:34 GMT_

----

/assign clenimar

[2018-02-02 14:45] irfanurrehman commented on #130
Adding help wanted, with an info that @xtophs already did some work towards this [here](https://github.com/kubernetes/kubernetes/pull/51026), but the effort did not complete because of the repo move.

[2018-02-02 14:57] irfanurrehman opened #217 "UP-TO-DATE value of federation deployment is always 0"
<a href="https://github.com/gyliu513"><img src="https://avatars1.githubusercontent.com/u/4461983?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [gyliu513](https://github.com/gyliu513)**
_Saturday Oct 14, 2017 at 13:04 GMT_
_Originally opened as https://github.com/kubernetes/kubernetes/issues/53930_

----

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What

[2018-02-02 14:57] irfanurrehman commented on #217
<a href="https://github.com/fejta-bot"><img src="https://avatars1.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Friday Jan 12, 2018 at 13:55 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d

[2018-02-02 14:57] irfanurrehman commented on #217
cc @gyliu513

[2018-02-02 14:57] irfanurrehman opened #218 "Federated service discovery failed in hybrid cloud: OpenStack + GKE"
<a href="https://github.com/arthur0"><img src="https://avatars1.githubusercontent.com/u/7016388?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [arthur0](https://github.com/arthur0)**
_Wednesday Nov 08, 2017 at 16:23 GMT_
_Originally opened as https://github.com/kubernetes/kubernetes/issues/55326_

----

**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What hap

[2018-02-02 14:57] irfanurrehman commented on #218
<a href="https://github.com/dims"><img src="https://avatars2.githubusercontent.com/u/23304?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dims](https://github.com/dims)**
_Wednesday Nov 22, 2017 at 13:06 GMT_

----

/remove-sig openstack

not really related to any change in openstack code

[2018-02-02 14:57] irfanurrehman commented on #218
<a href="https://github.com/arthur0"><img src="https://avatars1.githubusercontent.com/u/7016388?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [arthur0](https://github.com/arthur0)**
_Tuesday Dec 12, 2017 at 01:24 GMT_

----

I think I found the problem.
The OpenStack regions are case sensitive (and the default region is `RegionOne`).
The Kubernetes Service Discovery

[2018-02-02 14:57] irfanurrehman commented on #218
cc @arthur0

[2018-02-02 15:28] arthur0 commented on #218
I think with the change of introduced by the cloud-controller-manager (out-of-tree cloud providers) this is no longer valid.
/close

[2018-02-02 16:02] irfanurrehman commented on #127
@shashidharatd I think this issue is no longer relevant. Can u please double check if I am missing something. I found one failure [here](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-federation-e2e-gce-serial/2912) in one of the jobs.

[2018-02-02 16:18] irfanurrehman commented on #126
The APIs considered alpha are disabled by #42587, thus closing this issue. @nikhiljindal please correct me if this is not the case.
/close

[2018-02-02 16:19] #126 closed

[2018-02-02 16:21] irfanurrehman commented on #125
@shashidharatd, did u happen to earlier (or need to) validate this issue. i believe this is a non issue after the service controller refactoring, but need confirmation before closing.

[2018-02-02 16:31] xtophs commented on #130
PR coming next week. Nikola is helping with e2e Tests.

Sent from my iPhone

On Feb 2, 2018, at 7:01 AM, irfanurrehman <notifications@github.com<mailto:notifications@github.com>> wrote:

Adding help wanted, with an info that @xtophs<https://nam02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fxtophs&data=02%7C01%7C%7C8e41c24fbfd54011a07c08d56a4dd389%7C84df9e7fe9f640afb435aaaaaaaa

[2018-02-02 17:20] bputt commented on #169
@gyliu513 thanks, and does k8s support multiple cloud providers? The keepalived-cloud-provider docs say I should use ```--cloud-provider=external```, but I have it set to ```--cloud-provider=openstack``` for provisioning volumes

[2018-02-02 17:44] irfanurrehman commented on #218
Thanks @arthur0 for clearing this out.
/close

[2018-02-02 17:44] #218 closed

[2018-02-02 17:46] irfanurrehman commented on #130
Amazing! thanks @xtophs for doing this.

[2018-02-02 17:52] irfanurrehman commented on #203
@nikox94, is #155 enough to resolve this issue?
cc @quinton-hoole

[2018-02-02 20:23] nikox94 commented on #203
Nope, it was just a step towards resolving it. There is work left still.

[2018-02-02 21:59] xtophs opened #220 "Federation dependencies should not be managed by glide"
Azure SDK dependencies in `vendor/GitHub.com/Azure/azure-sdk-for-go` imported the entire SDK instead of only importing dependent files like it's done in kubernetes/kubernetes.

As @quinton-hoole points out

Dependencies should be managed with `godeps` or `go dep`

[2018-02-02 22:03] quinton-hoole commented on #220
Some more context.  Also, this applies to all dependencies, so I'll edit the subject accordingly.

It looks like @marun used glide, not godeps for vendoring in the new kubernetes/federation repo:

https://github.com/kubernetes/federation/pull/112

Based on the following issue, that seems like the wrong direction.  As far as I understand, kubernetes/kubernetes decided to stick with godeps until "go

[2018-02-03 05:26] gyliu513 commented on #169
Not sure about this, perhaps you can ask in dev list for help @bputt

[2018-02-05 12:13] shashidharatd commented on #48
The issues have been addressed in current code after it was service controller code was refactored. So this issue is not relevant anymore
/close

[2018-02-05 12:13] #48 closed

[2018-02-05 12:31] shashidharatd commented on #42
This issue is no longer relevant. There is no scheduler code in federation anymore.
/close

[2018-02-05 12:31] #42 closed

[2018-02-05 12:37] shashidharatd commented on #44
This issue is irrelevant. We do not maintain separate service cache for backing healthy endpoints and instead update the federated service controller with annotation.
/close

[2018-02-05 12:37] #44 closed

[2018-02-05 12:40] shashidharatd commented on #47
This flake seems to have disappeared. We shall reopen this issue if it happens again.
/close

[2018-02-05 12:40] #47 closed

[2018-02-05 12:42] shashidharatd commented on #58
/kind cleanup

[2018-02-05 12:45] shashidharatd commented on #66
This issue is irrelevant after moving the federation code and release out of core kubernetes
/close

[2018-02-05 12:45] #66 closed

[2018-02-05 12:48] shashidharatd commented on #93
This issue is already addressed.
/close

[2018-02-05 12:48] #93 closed

[2018-02-05 12:51] shashidharatd commented on #87
/kind enhancement
/remove-kind bug

[2018-02-05 12:52] shashidharatd commented on #80
/kind cleanup

[2018-02-05 12:56] shashidharatd commented on #77
/kind technical-debt

[2018-02-05 13:32] shashidharatd commented on #62
We are not using Dynamic PDs in the new federation jobs by default. So this issue does not exist currently federation CI jobs.
/close

[2018-02-05 13:32] #62 closed

[2018-02-05 13:45] shashidharatd commented on #51
This issue is irrelevant, getClusterZones does not exist in pkg/dns/dns.go anymore.
/close

[2018-02-05 13:45] #51 closed

[2018-02-05 13:56] shashidharatd commented on #55
We no longer require go toolchain to run federation e2e. Documentation updates shall be tracked in separate issue.
/close

[2018-02-05 13:56] #55 closed

[2018-02-05 13:59] shashidharatd commented on #52
/kind bug

[2018-02-05 13:59] shashidharatd commented on #52
/assign

[2018-02-05 14:01] shashidharatd commented on #206
/kind technical-debt

[2018-02-05 14:03] shashidharatd commented on #203
/kind bug

[2018-02-05 14:03] shashidharatd commented on #205
/kind bug

[2018-02-05 14:21] shashidharatd commented on #32
This is addressed by https://github.com/kubernetes/kubernetes/pull/47049
/close

[2018-02-05 14:21] #32 closed

[2018-02-05 14:23] shashidharatd commented on #175
/assign

[2018-02-05 14:24] shashidharatd commented on #128
/assign

[2018-02-05 14:25] shashidharatd commented on #121
/assign
/priority needs-investigation

[2018-02-05 15:36] sttts commented on #206
@shashidharatd I don't think this is technical dept, at least not with the issue description above. Federation types will probably never be in client-go. Merely, federation has to provide a client-go library (compare https://github.com/openshift/client-go).

[2018-02-05 15:51] marun commented on #220
As per [the discussion](https://groups.google.com/forum/#!topic/kubernetes-sig-multicluster/LdWSBk2FVUc) on the mailing list, it is not desirable to switch to godeps.  Switching to dep is blocked on k/k and client-go publishing ``Gopkg.toml``.  In the meantime, culling unused vendored code can be accomplished via the [prune script](https://github.com/kubernetes/federation/blob/master/hack/prune-de

[2018-02-05 16:06] shashidharatd commented on #206
Agree @sttts, the heading is not apt now. We should have client-go for federation which extends the k8s.io/client-go as opined above. Thanks for the above tip, i will study it.

[2018-02-06 00:25] mastamark commented on #179
I suspect you want to ask these folks:  https://github.com/terraform-providers/terraform-provider-kubernetes

[2018-02-06 01:38] mastamark commented on #163
@ggaaooppeenngg - I was able to get going building with my 1.9.x clusters from master and pushing fcp to a dockerhub repo following the steps here:  https://github.com/kubernetes/federation/pull/186/files#diff-07b732fa7b580c0786ac5cc8384fc5ebR15

[2018-02-06 01:38] xtophs opened #221 "Version mismatch between vendored libraries in vendor/k8s.io/kubernetes and vendor/github.com/azure"
The versions of vendor/github.comAzure/azure-sdk-for-go do not match what's required by vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/azure.

Error on build is:
[code]

This will be fixed with PR #219

[2018-02-06 16:58] irfanurrehman commented on #221
@xtophs are you doing this on your own branch??
I don't see the error you specified on latest master (or any earlier version either).
As far as I understand the azure packages vendored  in correctly map to the version used by the k8s vendored in (commit hash `4aee60804874a7cd2533425ac81bc9ecbda5a38b`).

[2018-02-06 17:12] xtophs commented on #221
Yes, I did this in my branch. The files in vendor/github.com/Azure seem to be from HEAD at the time of the split. vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/azure depends on azure-sdk-for-go v10.0.4-beta-1-g786cc84 and go-autorest depends on v8.0.0.

PR #219 has the correct versions of these libraries.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From:

[2018-02-06 17:39] irfanurrehman commented on #220
/assign

[2018-02-06 17:43] irfanurrehman commented on #221
/assign

[2018-02-07 09:52] pkutishch commented on #215
+1
[code]

[2018-02-07 16:38] vaibhavsingh97 commented on #198
@irfanurrehman I am beginner and I want to take up this issue.

[2018-02-07 17:19] irfanurrehman commented on #198
Welcome @vaibhavsingh97. Please go ahead and don't hesitate to ask for information.

[2018-02-07 18:31] xtophs opened #222 "fcp container does not run"
Building the fcp container with `make quick-release`

[code]

trying to run fcp container via `kubefed init` or `docker run` does not work. Container image does not appear to be valid.

federation apiserver fails with:
[code]

Trying to run the container on the build machine fails as well.

[code]

Trying to import container from file system instead of the tarball results in the same error:
[code]

[2018-02-07 21:58] mastamark commented on #222
As gleaned from another PR (https://github.com/kubernetes/federation/pull/186/files), this works for me from master of the federation repo and using a k8 1.9.1 cluster (in aws) as the host cluster:

cd $GOPATH/src/k8s.io/federation
make quick-release	# Will take awhile
docker load -i _output/release-images/amd64/fcp-amd64.tar
docker tag gcr.io/google_containers/fcp-amd64:<tag> <your dockerhub user

[2018-02-08 11:58] wynro commented on #156
I have recreated the federation with the described option and Jobs work fine. I guess the problem was related with #198. Considering this, I'll close this issue.

[2018-02-08 11:58] #156 closed

[2018-02-08 22:52] dgpc commented on #17
/remove-lifecycle stale

[2018-02-09 00:57] mastamark commented on #166
I believe this is the same issue:  https://github.com/kubernetes/federation/issues/215

[2018-02-12 14:42] fkorotkov opened #225 "Upgrade Instructions"
Hello there,

I configured a federation cluster using version 1.8.5 a few months back. I've just upgraded my GKE cluster to version 1.9.2 of k8s and I was wondering how to upgrade `controller-manager` and `apiserver`. It doesn't seem to be that straightforward and I haven't found an instruction beside [`deploy/cluster/upgrade.sh` script](https://github.com/kubernetes/federation/blob/master/deploy/

[2018-02-12 14:45] fkorotkov opened #226 "Getting kubefed instructions are not obsolete"
Hello there,

According to k8s federation documentation here: https://kubernetes.io/docs/tasks/federation/set-up-cluster-federation-kubefed/#getting-kubefed

In order to install `kubefed` one should run:

[code]

Right now the stable version is `1.9.3` and `kubernetes-client-darwin-amd64.tar.gz` for this version doesn't contain `kubefed` executable.

[2018-02-12 16:07] george-oakling opened #227 "Current status od federation"
1. As noted by https://github.com/kubernetes/federation/issues/226 the current version is not packaged to standardn K8s distribution.

2. If you install it by snap, you get the redirect error right after running the command (with or without params).

3. If you download it manually from https://storage.googleapis.com/kubernetes-release/release/v1.8.7/kubernetes-client-linux-amd64.tar.gz and unpack

[2018-02-12 17:16] irfanurrehman commented on #227
@george-oakling, federation project lives.. :-). You probably did hit an offbeat situation as already talked about in #110. A simple solution would probably be to use the workaround listed in that issue.
Also, since 1.9.0 we moved out of core kubernetes, and thus the latest releases do not contain federation binaries. We did hit some hiccups in providing alternative location for those binaries, bu

[2018-02-12 17:23] irfanurrehman commented on #226
@fkorotkov, Please wait for few days and we should be able to provide you with the federation binary and image matching 1.9.x clusters. In the interim you should be able to build the same from this repo. Also read https://github.com/kubernetes/federation/issues/227#issuecomment-364994287.

[2018-02-12 17:31] irfanurrehman commented on #225
@fkorotkov The current mechanism of upgrading the control plane is really as simple as upgrading the image. You can build the image here and push it to your own registry or wait for a few days as listed in https://github.com/kubernetes/federation/issues/227#issuecomment-364994287.

[2018-02-12 18:34] fkorotkov commented on #225
Thanks @irabinovitch! I'll wait. Nothing seems to be broken 👌

[2018-02-12 18:34] #225 closed

[2018-02-12 22:17] mastamark opened #228 "batch/v1beta1 for 1.9.x?"
I'm curious if we plan to bring batch/v1beta1 into the federation api.

I see this here:  https://github.com/kubernetes/federation/commit/606e2c57e4866bf987221f7677a8ae0e6c749488#diff-a1329dbefeeb924bbbadaa79a76e4ae3R1251 which does indeed seem to identify that there was issues with bringing it in.

I'm essentially looking for this bad boy right here:  https://kubernetes.io/docs/reference/generate

[2018-02-13 11:33] george-oakling commented on #227
Okay, thank you :)

[2018-02-13 12:06] irfanurrehman opened #230 "go get k8s.io/federation fails."
As listed on slack by @ramonrue

I'm trying to use the federation clientset in a go application of mine, however, I can't get the imports right.
I tried to use the same imports as the `federation-clustercontroller` uses, however, I get a `metadata not found` error.
Imports:
[code]
And the error of `dep ensure`
[code]

What are the right imports for the federation?

[2018-02-13 12:17] irfanurrehman commented on #230
The issue is because the metadata for federation is missing from kubernetes/k8s.io.
https://github.com/kubernetes/k8s.io/pull/105 fixes the same.

[2018-02-13 16:22] irfanurrehman commented on #228
@mastamark, we do not have any immediate plans of federating the batch api, but we can certainly consider it. If you have a compelling use case for the same and the community needs it, it will certainly help getting it up in priority. Please let us know about your use case!

[2018-02-13 17:21] mastamark commented on #228
It's more of a flow/context switching/usability thing.  Devs/Operators/K8-ers looking to deploy services on a given new cluster can create deployments, services, etc. directly against the federated api including with placement policies or federated deployment preferences, but to do the CronJob they have to switch context and apply directly against a single cluster in the federation.  For that sing

[2018-02-13 17:21] #228 closed

[2018-02-13 20:15] leahnp commented on #118
@irfanurrehman  - regarding the bot comment above, do I need to indicate somewhere this issue is actively being worked on (I don't understand the "/remove-lifecycle stale" context)?

Also it appears I cannot assign this to myself.

[2018-02-14 10:34] irfanurrehman commented on #118
The bot keeps looking for issues and PRs which have been inactive for 90+ days, if it finds such, it tags them as stale and closes them after 30 more days. This is to keep the repos clean from those issues/PRs which don't get worked on. We can keep them alive by removing that label.
Once you have couple of PRs under your belt, you become eligible to get added to the k8s org (become a member), post

[2018-02-14 11:20] tommyknows commented on #230
Included the imports, seems to be working.
But, after running `dep ensure`, I get the following build errors:
[code]

[2018-02-14 12:12] tommyknows commented on #230
I had to edit my Gopkg.toml file, and add the following code:
[code]
It seems like they removed the conversion.GenerateDeepCopyFunc from alpha3.

[2018-02-14 12:40] irfanurrehman commented on #230
@tommyknows can you please provide a little more info (probably steps, or link to the code) as to what it is that you are doing.

[2018-02-14 12:41] irfanurrehman commented on #230
Does it mean, that the vendoring works for you now?
If not can you please provide a little more info (probably steps, or link to the code) as to what it is that you are doing.

[2018-02-14 12:42] tommyknows commented on #230
Yes, vendoring works now, but is broken with alpha.3.
Adding this override helps.

[2018-02-14 15:59] jphorx commented on #79
Is this issue still under investigation?

[2018-02-16 01:29] mengesb opened #234 "kubefed hang on kubeadm cluster in AWS"
I've explored a number of kubernetes documents on stack and here in the various repos, and much of the documents. The Issue i'm experiencing is most similar to #101 however I'm deploying to a kubeadm generated cluster on AWS. While I know that kubeadm's target isn't AWS this is where we have deployed as a demo location. I'm trying to initalize a federation and I do have aws route53 zones i could b

[2018-02-16 15:42] irfanurrehman commented on #230
/close as fixed

[2018-02-16 15:44] irfanurrehman commented on #227
@george-oakling
Release published [here](https://github.com/kubernetes/federation/releases/tag/v1.9.0-alpha.3)

[2018-02-16 15:45] irfanurrehman commented on #226
@fkorotkov
Release published [here](https://github.com/kubernetes/federation/releases/tag/v1.9.0-alpha.3)

[2018-02-19 15:48] grahamhayes opened #236 "Feature Ask: OpenStack Designate DNS Provider"
As of 1.9.x only AWS, CoreDNS, and Google Cloud DNS are supported as DNS providers for federation.

There is work underway to add Azure [#130 / #219].

The ask is to implement a DNS provider for the DNS project in OpenStack (Designate).

[2018-02-19 18:35] george-oakling commented on #227
Hi! Thanks, I am getting "error: no configuration has been provided." when trying to `./kubefed init kfed \
    --host-cluster-context=prod-eu \
    --dns-zone-name="xxx.network." \
    --dns-provider="google-clouddns"`

[2018-02-19 21:52] george-oakling commented on #227
Sorry, my mistake, it works...

[2018-02-19 22:58] george-oakling commented on #227
I add
[code]

But it ends up again at
[code]
so I tried to add the rolebinding:
[code]
but still - it doesn't work... do you know what could be the reason @irfanurrehman

Thanks in advance.

[2018-02-20 09:30] george-oakling commented on #110
Hi, the current workaround doesnt work for me with Kubertnetes 1.8.7 in GKE. The error message is the same.

[2018-02-20 10:41] irfanurrehman commented on #110
@george-oakling have you tried enabling RBAC authorizer explicitly in apiserver as listed in https://github.com/kubernetes/federation/issues/110#issuecomment-340670470

[2018-02-20 12:24] george-oakling commented on #227
And also getting the same error on 1.8.7 GKE and 1.9.2 GKE

[2018-02-20 12:53] george-oakling commented on #110
Like this?
[code]

[2018-02-20 13:03] george-oakling commented on #110
Same problem...

[2018-02-20 13:14] irfanurrehman commented on #110
Oh, I guess u understood it a little different. The RBAC authorizer needs to be enabled in the base cluster that you are deploying your federation control plane on. so `--authorization-mode=RBAC` needs to be provided against the base cluster apiserver not the fcp apiserver.

[2018-02-20 13:18] george-oakling commented on #110
Ahhh, I see... so, I have to run apiserver container in my base cluster? I didnt find any mention on this anywhere, please, can you help me with this a bit? :)

[2018-02-20 13:22] irfanurrehman commented on #110
When you do `./kubefed init kfed \
    --host-cluster-context=prod-eu`, kubefed runs the federation apiserver pod in the cluster `prod-eu`. This particular issue is that your cluster `prod-eu` exposes the `rbac` api, but the apiserver does not run with `RBAC` enabled by default.

[2018-02-20 13:24] george-oakling commented on #110
Ok, but how to change the behavior?

[2018-02-20 16:11] irfanurrehman commented on #110
As mentioned, you will need to run the clusters apiserver with those arguments. How you pass that on to the cluster apiserver with differ based on the mechanism you are using to spin up the cluster. I believe you are using `GKE` cluster. I am not sure how or what mechanism it allows the admin to override the cluster control plane arguments, probably GKE documentation might be of help.

[2018-02-21 14:22] irfanurrehman commented on #163
@ggaaooppeenngg closing this as the official image is now available at `gcr.io/k8s-jkns-e2e-gce-federation/fcp-amd64`.
/close

[2018-02-21 14:22] #163 closed

[2018-02-21 14:25] irfanurrehman commented on #230
/close

[2018-02-21 14:25] #230 closed

[2018-02-22 11:12] george-oakling commented on #110
The issue was solved by setting up clusterrolebinding to admin on user's email address which is defined in IAM.

[2018-02-23 15:06] irfanurrehman commented on #192
Binaries available as per the [release notes](https://github.com/kubernetes/federation/releases/tag/v1.9.0-alpha.3).
/close

[2018-02-23 15:06] #192 closed

[2018-02-23 15:14] irfanurrehman commented on #227
@george-oakling
- the federation binaries are available as per the [release notes](https://github.com/kubernetes/federation/releases/tag/v1.9.0-alpha.3).
- the documentation now reflects how to get kubefed correctly as per [this PR](https://github.com/kubernetes/website/pull/7429).
- the RBAC issue is an open issue with the latest version k8s clusters but federation functions with the workaround a

[2018-02-23 15:15] irfanurrehman commented on #226
Getting kubefed instructions updated as per https://github.com/kubernetes/website/pull/7429.
/close

[2018-02-23 15:15] #226 closed

[2018-02-25 18:40] chrisprobst opened #238 "Add option to setup kubeconfig for existing fcp"
When there is an existing fcp running, there should be an option to setup kubeconfig accordingly.
For instance: A new user working on the federated cluster has no context "kfed".

There is no way of setting the config up for this user without copy-paste an exsting .kube/config.
Not to speak of what happens when there is no existing .kube/config anymore (good luck, federation must be recreated...).

[2018-02-27 15:00] shashidharatd commented on #175
I did investigate this issue and indeed found that CNAME records were missing which were supposed to point to service shard(s) with backing endpoints in a nearby cluster (zonewise, regionwise and then global).

Continuing further after fixing the above issue, i find some more things are broken. kubedns was able to auto expand the short names like `tomcat.demo.my-fed` to fqdn like `tomcat.demo.my-f

[2018-02-27 16:30] fkorotkov opened #240 "Build kubefed binary for Mac"
It will be nice to have binaries of `kubefed` prebuilt for Mac OS. Right now GitHub release page has only links for linux binaries:

https://storage.cloud.google.com/kubernetes-federation-release/release/v1.9.0-alpha.3/federation-client-linux-amd64.tar.gz

It will be nice to have `federation-client-darwin-amd64.tar.gz` binaries as well.

PS maybe even binaries for Windows?

[2018-02-27 17:26] irfanurrehman commented on #227
@fkorotkov we have changed the location for the fcp image release, which reflects in the latest [release notes](https://github.com/kubernetes/federation/releases/tag/v1.9.0-alpha.3).
The same is also updated as the default in the latest kubefed code.
Its is `gcr.io/k8s-jkns-e2e-gce-federation/fcp-amd64:latest`.
Please let me know if and why this might not be ok.

[2018-02-27 17:39] fkorotkov commented on #227
I see. I was confused by `jkns` suffix. Like it's some kind of Jenkins artifact not related to the release.

[2018-02-27 17:55] irfanurrehman commented on #227
@george-oakling closing this issue as resolved, please feel free to reopen if you think otherwise.
/close

[2018-02-27 17:56] #227 closed

[2018-03-02 19:42] quinton-hoole opened #242 "Failed to create ingress in cluster: Invalid value: []extensions.IngressRule(nil): either `backend` or `rules` must be specified'"
andrein [1:33 PM]
Hi, I finally got federation working on GKE (tested deployments and services) but I’m having trouble with federated ingress. I can create the federated ingress in the control plane, but it doesn’t propagate to the clusters. I get the following errors in the controller-manager logs:

[code]

Here is my ingress, and it includes backend.

[code]

[2018-03-06 03:25] dicarlo2 commented on #242
Is there a workaround for this issue?

[2018-03-06 14:45] ivankennethwang commented on #242
I guess you can work with services having Type: Loadbalancer. That's the closest one that I can think of right now.

[2018-03-06 15:24] rarescosma commented on #215
+1

[2018-03-06 15:25] lonefreak commented on #215
+1

[2018-03-06 16:16] shashidharatd commented on #242
I do confirm that i was able to reproduce this issue. Working to find out the root cause and a possible fix.

/kind bug
/priority needs-investigation

[2018-03-13 17:42] #242 closed

[2018-03-14 08:06] ChrisOnToure commented on #215
+1

[2018-03-14 13:18] irfanurrehman commented on #238
@chrisprobst apologies for a delayed reply. Somehow missed the issue.
There are two parts in the issue that you have reported:
1 - You have setup fcp and now wants to share the same with another user (the fcp context for example `my-federation` is created in the default kubeconfig or in something that you can explicitly provide).

For this you can actually provide an alternative kubeconfig using `

[2018-03-14 13:53] irfanurrehman commented on #234
@mengesb apologies for a delayed response.
It seems you are trying init with default params in which case a service type `LoadBalancer` is created (Which seems not feasible in your setup). You should ideally try `kubefed init` with option `--api-server-service-type='NodePort'`. Please be aware that for this to work your cluster nodes should have reachable IPs from the client node you are trying `k

[2018-03-14 13:53] irfanurrehman commented on #234
/area kubefed

[2018-03-16 01:03] dholt commented on #101
Any updates on the last item (Document using hosted DNS providers (AWS Route53/ Google CloudDNS) in non-cloud environments.)?

[2018-03-16 05:12] shashidharatd commented on #101
@dholt, Thanks for asking. We need some volunteers to do that. I would create a separate issue for that item. Would you be interested in taking up some portion?

[2018-03-16 05:25] shashidharatd opened #250 "Document using hosted DNS providers in non-cloud environments"
We currently have DNS providers for Google Cloud DNS, Amazon Route53 & CoreDNS. AzureDNS is in progress. Generally they all work in native environment by auto detecting the configuration. But the initialisation is non- trivial in non-native environments say like in an on-premise cluster using Google Cloud DNS. The configuration has to be fed to the DNS Provider library in order to make it work pro

[2018-03-16 05:29] shashidharatd commented on #101
Created a separate [issue](https://github.com/kubernetes/federation/issues/250) to track the above incomplete work mentioned in https://github.com/kubernetes/federation/issues/101#issuecomment-373570599

[2018-03-16 05:41] shashidharatd commented on #101
There is some work done by @marun as commented in this https://github.com/kubernetes/kubernetes/issues/40620#issue-203719292 related to configuraing Google Cloud DNS in non-google environment.

[2018-03-16 05:42] shashidharatd commented on #250
There is some work done by @marun as commented in this kubernetes/kubernetes#40620 (comment) related to configuraing Google Cloud DNS in non-google environment.

[2018-03-16 08:29] wangxinxu411 opened #251 "delete federation service ,still can get ips from COREDNS"
1.set up a federation using dns provider of coredns.
2.create a federation service.
apiVersion: v1
kind: Service
metadata:
  name: bbbbb
  labels:
    name: bbbbb
  annotations:
    federation.kubernetes.io/service-ingresses: '{"items": [{"cluster": "us", "items": [{"ip": "192.168.30.101"}]}, {"cluster": "europe", "items": [{"ip": "192.168.30.102"}]}]}'
spec:
  type: LoadBalancer
  ports:
    - po

[2018-03-16 13:13] dholt commented on #101
I would be happy to try and help document. I don't think I'm qualified to help implement however, and it looked to me from browsing the code like this feature may be implemented for Google Cloud DNS but not AWS Route53?

[2018-03-17 15:52] prasanna12510 commented on #166
on deleting the deployment from federation it doesnt delete the corresponding records created in route53 console

[2018-03-17 15:53] prasanna12510 opened #252 "deleting the federated deployment does not delete corresponding route53 records"
on deleting the deployment from federation it doesnt delete the corresponding records created in route53 console

[2018-03-19 07:47] #215 closed

[2018-03-21 10:11] nashasha1 opened #254 "Is it possible to keep federation cross-cluster"
Federation deploys apiserver and controller-manager to one of the kubernetes cluster. If this cluster broken down. How does federation keep working?

Is it possible to make federation support deploy into multi-cluster?

[2018-03-23 14:25] Knappek opened #255 "kubefed init returns: Cannot parse dnsName "apiserver.federation-system.svc.cluster.local.""
I guess kubefed has a bug. When I execute

[code]

I get the error

[code]

This seems to be related to this issue: https://github.com/kubernetes/ingress-nginx/issues/2188.

[2018-03-25 13:14] FireFrog2000 commented on #242
i am having the same issue, pointing federated ingress to federated service for ssl termination with nginx ingress controller.

[2018-03-25 17:22] irfanurrehman commented on #242
@FireFrog2000 are you building fcp from the latest in this repo, or using an older release?
@shashidharatd

[2018-03-26 04:31] shashidharatd commented on #242
@FireFrog2000, This issue should have been fixed by https://github.com/kubernetes/federation/pull/245. Can you please verify the version of the fcp image you are using to test?

[2018-04-08 02:07] damien-roche commented on #110
@george-oakling any more details on that? Running into same issue and could do with some pointers.

[2018-04-10 00:01] mastamark commented on #139
I've experienced this as well using a 1.9.x based federation.

[2018-04-14 12:42] woshihaoren opened #258 "Can't add dns record"
kubenetes version: 1.10.1
kubefed version: v1.9.0-alpha.3
refer to https://github.com/ufcg-lsd/k8s-onpremise-federation
[code]

[code]

[2018-04-18 08:47] d-winter opened #259 "Building kubefed on mac osx"
Hey,
is there any guide how to build kubefed for mac osx? When I run make and call _output/local/bin/darwin/amd64/kubefed version it prints out Major: "", Minor"".
I think this causes an error when trying to init a federation cluster, since the docker image which it tries to pull does not exist.
Using the compiled binaries on ubuntu works perfect.
Any help would be great!

[2018-04-18 13:42] mmeliani opened #260 "[FEDERATION] how to join a cluster that with certificate apiserver access"
I deployed a federaton control plane to a host cluster this is kubeconfig of the host cluster :
[code]

and now i'm trying to join a cluster to the federation, below the configuration of this cluster :

[code]

As you can see the acces to the api server is done with certificate how to do in order to join this cluster to federation; I mean should i expose the apiserver of the cluster that i'm joini

[2018-04-18 13:48] mmeliani commented on #260
/cc @mbohlool  @cheftako @mml @lavalamp  @sttts @deads2k @enisoc @colemickens
 @kubernetes/sig-multicluster-bugs
/sig multicluster testing
 /area federation

[2018-04-18 15:25] mmeliani commented on #260
@chrisohaver

[2018-04-20 13:07] m1093782566 opened #261 "make-quick release is failing git version information missing; cannot create Docker tag"
[code]

@shashidharatd any comment?

[2018-04-20 13:26] m1093782566 commented on #261
Export `KUBE_GIT_VERSION`, e.g. `KUBE_GIT_VERSION=v1.1.0-alpha.0.6+84c76d1142ea4d` explicitly can fix the issue, but... Is it expected?

[2018-04-20 13:26] m1093782566 commented on #261
/assign @shashidharatd

[2018-04-28 06:49] day-jeff opened #264 "Need help with cluster failure behavior"
I’ve been experimenting with cluster federation, and while it works great under normal circumstances, the federation controller does not appear to properly detect and mitigate cluster failures.

For example, when I disable a remote cluster (via firewall or by stopping the host VMs), the controller does not appear to detect the issue, and the DNS A record is not updated to remove the cluster’s IP.

[2018-05-07 11:00] tommyknows commented on #199
I think this is still a valid issue and should be at least documented somewhere (if it's not "fixed").
Correct me if I should be wrong :-)

/remove-lifecycle stale

[2018-05-08 01:04] quinton-hoole commented on #199
SGTM

[2018-05-08 01:26] quinton-hoole commented on #133
/remove-lifecycle stale

[2018-05-10 18:44] GabrielSVinha commented on #236
@grahamhayes I am interested in helping with this issue. I'm planning on a docs/sketch for the changes soon.

[2018-05-14 23:48] #95 closed

[2018-05-14 23:48] #96 closed

[2018-05-14 23:48] #81 closed

[2018-05-14 23:48] #82 closed

[2018-05-14 23:48] #53 closed

[2018-05-15 14:02] #101 closed

[2018-05-16 09:48] liuxin95 commented on #261
### maybe you should new a git tag
for example:
[code]
and if you execute:
[code]
you can get v1.10 and now the world is clean.
### reason
kubernete get version information by execute git describe.

[2018-05-16 09:50] m1093782566 commented on #261
Now I think we can close this issue.

/close

[2018-05-16 09:50] #261 closed

[2018-05-23 09:17] Maellooou commented on #20
Hello,

Any updates about a possible workaround ? Or patch/new release ?

Thanks

[2018-05-24 14:43] jessfraz opened #269 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-28 12:15] bartimar commented on #242
I have the same issue on GKE today. Any progress on this?
Any workarounds I could use? I wanna use NodePorts, not LoadBalancers...

[2018-06-03 08:57] gyliu513 commented on #169
I have a keepalived chart for loadbalancer at https://github.com/gyliu513/work/tree/master/k8s/charts/keepalived

[2018-06-03 08:57] #169 closed

[2018-06-06 07:31] guoh1988 commented on #250
# in  federation/pkg/federation-controller/service/dns/dns.go 177-192
func wantsDNSRecords(service *v1.Service) bool {
	return service.Spec.Type == v1.ServiceTypeLoadBalancer
}

func (s *ServiceDNSController) workerFunction() bool {
	item, quit := s.workQueue.Get()
	if quit {
		return true
	}
	defer s.workQueue.Done(item)

	service := item.(*v1.Service)

	if !wantsDNSRecords(service) {
		return fa

[2018-06-19 10:56] luceos commented on #259
@d-winter an explanation how you fixed it would be highly appreciated for people, like me, stumbling on your issue 👍

[2018-06-20 13:31] marekaf opened #274 "GKE Federation - Cross Cluster Service Discovery with GoogleDNS in one VPC"
Hi,
I'm trying to setup a working demo on GCP.
2 GKE clusters, each in different region, say
- southamerica-east1-b cluster-BR
- europe-west1-d cluster-EU
I want a service A running in cluster-BR to be able to communicate via standard local dns svc discovery with service B running in cluster-EU in one Google VPC.

service A has one pod in cluster-BR, other pod in cluster-EU
service B (10.23.243.18

[2018-06-26 08:13] prasanna12510 opened #275 "Custom Metrics Support at Federation and Migration of replicas based on optimal metrics"
Hi Community,
I have added custom metrics support using Prometheus in each cluster individually and designed a controller that will run on the federation layer, the role of the controller is to collect the metrics data for a certain time window based for example Httprequestcount from each cluster based on that controller will compute optimal number of replicas required in each cluster. This ensure

[2018-07-02 12:49] #8 closed

[2018-07-02 12:49] #10 closed

[2018-07-02 14:51] #138 closed

[2018-07-02 14:51] #140 closed

[2018-07-02 14:51] #137 closed

[2018-07-02 15:52] #134 closed

[2018-07-02 16:53] #131 closed

[2018-07-02 17:54] #125 closed

[2018-07-02 18:15] briansmith commented on #132
Please reopen this issue. It would help the tools I work on, and I'm sure others, to be able to get this information from the Kubernetes API.

[2018-07-02 18:55] #122 closed

[2018-07-02 18:55] #123 closed

[2018-07-02 18:55] #124 closed

[2018-07-03 02:02] #130 closed

[2018-07-03 20:37] jazzyarchitects opened #276 "Kubefed get and describe giving inconsistent data"
` kubectl get clusters ` returns ` No resource found. Error from server (NotAcceptable): unknown (get clusters.federation) `
while
` kubectl describe clusters ` returns the description of all the joined clusters.

Possible bug in implementation?

Attaching screenshot
<img width="843" alt="screen shot 2018-07-04 at 1 58 51 am" src="https://user-images.githubusercontent.com/11012686/42243332-9867dc9

[2018-07-03 20:45] mastamark commented on #276
I observed this using kubectl version 1.11.x against a federation that was 1.9.x.  Changing the snap channel to 1.9.x or 1.10.x "solved" it for me.  (`sudo snap switch --channel=1.10/stable kubectl` or `sudo snap switch --channel=1.9/stable kubectl`)

[2018-07-04 05:58] zqdlove opened #277 "Where can I see the release plan"
Hello，Where can I see the release plan，When to support the new version K8S 1.10.*

[2018-07-04 06:56] jazzyarchitects commented on #276
Thanks. Works now

[2018-07-04 06:56] #276 closed

[2018-07-05 03:51] #120 closed

[2018-07-05 16:03] #128 closed

[2018-07-05 16:03] #121 closed

[2018-07-05 16:03] #203 closed

[2018-07-06 02:13] #179 closed

[2018-07-06 19:30] #221 closed

[2018-07-07 18:53] #198 closed

[2018-07-13 18:14] #216 closed

[2018-07-13 19:15] #117 closed

[2018-07-13 19:15] #116 closed

[2018-07-13 19:15] #31 closed

[2018-07-13 19:15] #34 closed

[2018-07-13 21:38] smaslennikov commented on #240
I'm in the same boat, though this seems to have been fixed here https://github.com/kubernetes/website/pull/2899/files and some discussion is here: https://github.com/kubernetes/website/issues/2909

[2018-07-13 22:20] smaslennikov commented on #277
https://github.com/kubernetes/federation/commit/8a15454fde26f63c18d455a64ed0e13cd48fadfa fixed that, but the latest release doesn't include that (yet). I just cloned down the repo and built it from there.

[2018-07-14 12:32] #118 closed

[2018-07-16 06:29] zqdlove commented on #277
I mean federation support kubernetes 1.10.x clusters,thank you.

[2018-07-16 09:23] aojea opened #278 "Missing CONTRIBUTING.md file"
All K8s subrepositories should have a CONTRIBUTING.md file, which at the minimum should point to https://github.com/kubernetes/community/blob/master/contributors/guide/README.md. Care should be taken that all information is in sync with the contributor guide.

Subrepositories may also have contributing guidelines specific to that repository. They should be explicitly documented and explained in th

[2018-07-16 09:37] justaugustus commented on #220
/reopen

[2018-07-16 09:37] justaugustus commented on #220
/assign
/reopen

[2018-07-16 09:39] justaugustus commented on #220
/remove-lifecycle rotten
/reopen

[2018-07-16 09:39] justaugustus commented on #220
/lifecycle frozen

[2018-07-16 17:21] G-Harmon commented on #110
/remove-lifecycle stale

[2018-07-19 15:47] fkorotkov commented on #227
@irfanurrehman do you know if there are any plans to release a new version of federation? The last release was in February 😅

[2018-07-21 15:19] #71 closed

[2018-07-21 16:20] #57 closed

[2018-07-23 01:44] ChuckyThh opened #280 "If I also use coredns in the k8s cluster, how should I associate the coredns of the federated cluster with the coredns in the cluster and use？"
I deployed the k8s cluster through kubeadm, the version is 1.10.0, and used coredns for parsing services, but when I deployed the latest k8s cluster federation through kubefed, the cluster federation worked, but the dns in the cluster could not be resolved to the federation. The dns on the service causes the dns of the federated service to be unavailable.
I saw the official website to use kube-dns

[2018-07-23 17:08] #210 closed

[2018-07-23 18:09] #7 closed

[2018-07-23 18:09] #70 closed

[2018-07-23 18:09] #23 closed

[2018-07-23 18:09] #27 closed

[2018-07-23 18:09] #26 closed

[2018-07-23 18:09] #35 closed

[2018-07-23 18:09] #21 closed

[2018-07-23 18:09] #28 closed

[2018-07-23 18:09] #45 closed

[2018-07-23 19:10] #15 closed

[2018-07-23 19:10] #63 closed

[2018-07-23 19:10] #52 closed

[2018-07-23 19:10] #54 closed

[2018-07-23 19:10] #59 closed

[2018-07-23 19:10] #60 closed

[2018-07-23 19:10] #86 closed

[2018-07-23 19:10] #94 closed

[2018-07-23 19:10] #106 closed

[2018-07-23 19:10] #105 closed

[2018-07-23 20:11] #16 closed

[2018-07-23 20:11] #89 closed

[2018-07-23 20:11] #11 closed

[2018-07-23 20:11] #39 closed

[2018-07-23 20:11] #13 closed

[2018-07-23 20:11] #22 closed

[2018-07-23 20:11] #43 closed

[2018-07-23 20:11] #49 closed

[2018-07-23 20:11] #40 closed

[2018-07-23 20:11] #67 closed

[2018-07-23 21:12] #38 closed

[2018-07-23 21:12] #73 closed

[2018-07-23 21:12] #74 closed

[2018-07-23 21:12] #84 closed

[2018-07-23 21:12] #98 closed

[2018-07-23 21:12] #104 closed

[2018-07-23 21:12] #75 closed

[2018-07-23 21:12] #135 closed

[2018-07-23 21:12] #90 closed

[2018-07-23 22:13] #69 closed

[2018-07-23 22:13] #97 closed

[2018-07-23 22:13] #107 closed

[2018-07-23 22:13] #68 closed

[2018-07-23 22:13] #108 closed

[2018-07-23 22:13] #129 closed

[2018-07-23 22:13] #6 closed

[2018-07-23 22:13] #18 closed

[2018-07-23 22:13] #24 closed

[2018-07-23 22:13] #25 closed

[2018-07-23 23:14] #33 closed

[2018-07-23 23:14] #30 closed

[2018-07-23 23:14] #64 closed

[2018-07-23 23:14] #65 closed

[2018-07-23 23:14] #50 closed

[2018-07-23 23:14] #58 closed

[2018-07-23 23:14] #92 closed

[2018-07-23 23:14] #102 closed

[2018-07-24 00:15] #72 closed

[2018-07-24 00:15] #79 closed

[2018-07-24 00:15] #111 closed

[2018-07-24 00:15] #29 closed

[2018-07-24 00:15] #56 closed

[2018-07-24 00:15] #41 closed

[2018-07-24 00:15] #83 closed

[2018-07-24 00:15] #100 closed

[2018-07-24 00:15] #37 closed

[2018-07-24 00:15] #77 closed

[2018-07-24 01:16] #80 closed

[2018-07-24 01:16] #61 closed

[2018-07-24 01:16] #78 closed

[2018-07-24 01:16] #91 closed

[2018-07-24 01:16] #119 closed

[2018-07-24 01:16] #99 closed

[2018-07-24 01:16] #202 closed

[2018-07-24 01:16] #136 closed

[2018-07-24 01:16] #205 closed

[2018-07-24 01:16] #214 closed

[2018-07-24 02:17] #201 closed

[2018-07-24 02:17] #209 closed

[2018-07-24 02:17] #206 closed

[2018-07-24 02:17] #207 closed

[2018-07-24 02:17] #208 closed

[2018-07-24 02:17] #211 closed

[2018-07-24 02:17] #204 closed

[2018-07-24 02:17] #217 closed

[2018-07-24 03:18] #200 closed

[2018-07-24 03:18] #212 closed

[2018-07-25 07:37] luceos commented on #88
/reopen
/remove-lifecycle rotten

Isn't this issue about the state of federation?

[2018-07-27 16:42] #175 closed

[2018-07-29 15:48] relvan1 commented on #110
Hi @george-oakling  @irfanurrehman I am facing the rbac issue. I am running my cluster in GKE and the version is 1.9.7. I also followed the steps of "gcloud config set container/use_client_certificate True" and also created the clusterrolebindings. But none helped me.. someone please help me on this.

[2018-07-29 16:49] jseris commented on #259
I am having the same issue, @d-winter would be great of you could tell me how you fixed this. I checked out the v1.9.0-alpha.3 tag and then ran make.

[2018-07-30 07:12] irfanurrehman commented on #110
@relvan1, if you build kubefed from latest, it has an option as below:

`--credentials-kubeconfig='': Kubeconfig file path on local file system, which should be used to authenticate with
host cluster or the joining cluster (instead of the default kubeconfig).This can be used to override the RBAC based
authentication while initialising the federation control plane or joining a cluster to one, even

[2018-07-30 15:59] relvan1 commented on #110
Hi @irfanurrehman
I tried the comment you suggessted and i am getting the error as "Error: unknown flag: --credentials-kubeconfig". My kubefed version is "v1.9.0-alpha.3". From the options, i could see the flag as --kubeconfig='' and i tried with that and could see the same issue which i reported earlier. any complete workaround for this setup.

[2018-07-30 16:36] irfanurrehman commented on #110
I did mention that you need to build `kubefed` from latest, for this option
to be there.

On Mon, Jul 30, 2018 at 9:29 PM Mohamed Relvan <notifications@github.com>
wrote:

--
*~ Out there somewhere, there is a field, without the sense of wrongdoings
and the rightdoings; I will meet you there. ~*

[2018-07-30 17:49] relvan1 commented on #110
@irfanurrehman  my kubefed version is "v1.9.0-alpha.3" and i beleive this is the latest one i found. If this is not the latest one, please let me know where i should get the kubefed.

[2018-08-01 12:39] irfanurrehman commented on #110
@relvan1
`# git clone https://github.com/kubernetes/federation.git`
`# cd federation`
`# make WHAT=cmd/kubefed`

Please check `https://github.com/kubernetes/federation#building-kubernetes-cluster-federation` if you face issues.

[2018-08-04 02:37] #103 closed

[2018-08-04 03:38] #87 closed

[2018-08-11 15:33] #234 closed

[2018-08-11 15:33] #238 closed

[2018-08-12 22:03] #240 closed

[2018-08-13 10:15] #251 closed

[2018-08-13 14:01] relvan1 commented on #274
Any Solution for this?

[2018-08-13 15:51] relvan1 commented on #274
@bartimar thanks dude. I will take a look on istio

[2018-08-14 17:46] #252 closed

[2018-08-14 17:46] #166 closed

[2018-08-18 12:15] #254 closed

[2018-08-20 00:17] yutongp opened #281 "invalid apiserver image name (broken versioning)"
I built the project `master` branch(ccbc47b7f65e09a4bfbc27e157120e0396156d67) with `make` on MacOS.
I got these output when I run `kubefed version`:
[code]
the `GitVersion` and `GitCommit` version is broken. This issue caused `kubefed` try to fetch wrong `apiserver` image after I ran `kubefed init` for my GCP clusters.
On GCP console I saw this error message:
[code]

P.S. I built the binrary from

[2018-08-20 01:10] yutongp commented on #281
I tried to modify `federation/pkg/version/version.go` to hard code a version, but it didn't change the output of `kudefed version`. Then I tried to hard hard code  `vendor/k8s.io/kubernetes/pkg/version/version.go`, and that changed the output of `kudefed version`.

This sounds like a bug, right? shouldn't `kubefed` takes the output of ``federation/pkg/version/` instead of `vendor/k8s.io/kubernetes

[2018-08-20 01:30] yutongp commented on #281
after hard code the version, I was able to pull `apiserver` image, but the version on server is still incorrect:
[code]
Now I don't have right API support on server:
[code]
[code]

[2018-08-20 04:46] yutongp commented on #110
@irfanurrehman
I used the kubecfg I got from `gcloud container clusters get-credentials` , it has my user info like these:
[code]
the `cmd-path` is my location gcloud sdk binary, after I use this kubecfg in `--credentials-kubeconfig` flag, I got following error msg in `controller-manager` service log
[code]

[2018-08-20 06:09] yutongp commented on #215
+1

[2018-08-20 06:17] yutongp commented on #215
still having this issue on current master

[2018-08-20 06:42] irfanurrehman commented on #110
It seems for gcloud access token based auth, the gcloud binary/toolset is
needed for some reason. The access/auth info from kubeconfig is passed on
to the federation controller manager to be able to talk to the federation
apiserver and joining cluster apiservers. This seems like an error at or
after join of a cluster. The gcloud bin obviously is not available inside
the federation controller manag

[2018-08-20 16:06] #255 closed

[2018-08-27 18:03] nikhita commented on #132
/reopen

[2018-08-27 18:04] nikhita commented on #132
/assign

[2018-08-27 18:04] nikhita commented on #132
/reopen

[2018-08-27 18:06] nikhita commented on #132
/unassign

[2018-08-27 18:07] nikhita commented on #132
/lifecycle frozen

[2018-08-27 18:27] nikhita commented on #88
/assign

[2018-08-27 18:27] nikhita commented on #88
/reopen

[2018-08-27 18:27] nikhita commented on #88
/unassign

[2018-09-05 13:53] tommyknows commented on #199
/remove-lifecycle rotten

[2018-09-07 01:56] #139 closed

[2018-09-11 14:42] #258 closed

[2018-09-12 07:02] cruxyoung opened #282 "Fail to pull image of federation"
When I try to do deploy federation plane with kubefed, the federation controller plane fail to come up.
So I describe the controller pod, it tells me that it fails to pull the image. And the error is:

`desc = Error response from daemon: Get https://gcr.io/v2/k8s-jkns-e2e-gce-federation/fcp-amd64/manifests/v1.9.0-alpha.3: unauthorized: You don't have the needed permissions to perform this operatio

[2018-09-12 10:54] cruxyoung commented on #282
Never mind. I construct my own image.

[2018-09-12 10:54] #282 closed

[2018-09-25 00:10] cap1981 commented on #281
same issue
[code]

[2018-09-25 09:12] #264 closed

[2018-10-03 04:55] cepefernando commented on #110
When doing the @dgpc solution I get the following:

``` Error from server (Forbidden): pods is forbidden: User "client" cannot list pods at the cluster scope: Unknown user "client" ```

After looking for that error I found that: This happens when you disable Legacy Authorisation in the cluster settings, because the client certificate that you are using is a legacy authentication method. So it look

[2018-10-04 17:05] gmflau commented on #274
I followed this Istio setup (https://istio.io/docs/examples/multicluster/gke/).  Looks like pod communications between 2 GKE clusters over DNS is through a Load Balancer.  What I wanted to do is to use DNS to lookup a pod in one GKE cluster from a pod in another GKE cluster.  I wanted to exactly pinpoint a DNS service name such as opscenter-0.opscenter.default.svc.cluster.local where opscenter its

[2018-10-05 03:33] #133 closed

[2018-10-07 20:37] #236 closed

[2018-10-08 08:27] kwerey commented on #132
Just a quick note to echo @RochesterinNYC & say this would be handy for all kinds of tooling.

My particular use case is wanting to grab a value for monitoring/logging: I'd much rather report a name value direct from k8s than have to keep environment-specific data in a config as code file that's otherwise generic & applicable across environments and regions!

[2018-10-13 07:14] saamalik commented on #274
The Federation documentation clearly states this should be a supported use-case, but I'm also facing the same issue.

Docs: [Cross-cluster Service Discovery using Federated Services](https://kubernetes.io/docs/tasks/federation/federation-service-discovery/)
Check section _From pods inside your federated clusters_.

Did anyone find any other workarounds, short of using istio?

[2018-10-13 18:43] gmflau commented on #274
I would want to pursue a solution using Istio since the K8 Federation project is not promising.

[2018-10-13 18:55] bartimar commented on #274
Yep, all traffic is going through the istio-ingressgateway which is a LoadBalancer svc type. Which means all the traffic is always going through the one cluster's ingressgateway. Maybe having more istio masters would help?

[2018-10-16 06:46] saamalik commented on #274
Got cross-cluster service discovery working with Google CloudDNS. There was a swallwed exception deep-inside `kube-dns`:  _kube-system/kube-dns_ service account is missing VIEW permissions to list _nodes_. Run the following command and _make_ sure the service is _LoadBalancer_ type:

    kubectl create clusterrolebinding nodes-kube-dns --clusterrole=system:node --serviceaccount kube-system:kube-dn

[2018-10-19 17:59] dgpc commented on #17
The imbalance issue due to non-uniform packing of pods onto VMs is resolved with NEGs:
https://cloud.google.com/kubernetes-engine/docs/how-to/container-native-load-balancing
It should now be safe to run in utilization mode, rather than rate mode, avoiding unnecessary cross-region traffic.

[2018-10-20 10:33] #20 closed

[2018-10-26 15:32] asad26 opened #293 "RBAC roles error while joining Kubernetes cluster to the Federation"
Hi guys,
I am running one Federation cluster and one Kubernetes cluster (version 1.12.1) on two different Ubuntu 16.04 machines. The federation cluster (host cluster) is on the network 130.233.193.0/24 and the second cluster is on 130.233.97.0/23. I am unable to join the second cluster from host cluster using the command:

kubefed join cloud-cluster --host-cluster-context=kubernetes-admin-host --c

[2018-10-29 12:16] idealhack commented on #278
/remove-lifecycle stale

[2018-11-01 19:27] red5bongo opened #294 "Unable to pull Federation v1 Docker images"
The project that hosts the docker images is denying access when kubefed tries to pull down the images for API server and Controller Manager:

Events:
  Type     Reason                 Age              From                                       Message
  ----     ------                 ----             ----                                       -------
  Normal   Scheduled              2m

[2018-11-03 13:05] #250 closed

[2018-11-03 18:47] acloudiator commented on #294
Same issue for `gcr.io/k8s-jkns-e2e-gce-federation/fcp-amd64:v1.9.0-alpha.3`.
Shouldn't it be public without authentication?

[2018-11-15 13:45] hellolijj commented on #294
i also meet this problem = =

[2018-11-16 00:26] acloudiator commented on #294
I think `K8S Federation v1` community support might have been stopped. The focus would be on  [K8S Federation v2](https://github.com/kubernetes-sigs/federation-v2).

[2018-11-23 09:53] #275 closed

[2018-12-13 01:32] devdemos opened #296 "invalid reference format and tag: fcp-amd64:v0.0.0-master_$Format:%h$"
I am in the process of trying to setup federation with kubernetes 1.9.3 using an AWS back end and have hit a roadblock due to an issue related to the image tag

[code]
and the process kicks off fine until it hangs on
[code]
Further investigation shows the status of the pods as

[code]
Looking into the details of the pod shows an issue with the image tag
**-> **kubectl describe po controller-manage

[2018-12-13 08:41] #277 closed

[2018-12-19 12:59] tsmgeek commented on #122
I think that this would still be a good idea to implement somehow if only at the deployment/statefulset/service and not cascaded.

Same as Termination Protection on say AWS, just prevent it being deleted unless the flag is removed, of course if its a deployment then users delete the pod it will just recreate it anyway which is fine.

/remove-lifecycle rotten
/reopen

[2018-12-19 15:19] alpe opened #297 "Create PodSecurityPolicy/ Roles on init"
Problem:
When pod-security-policies are activated the api server and controller fail to start as there is no matching `PodSecurityPolicy` deployed/ roles are missing.

[code]

[2018-12-19 16:05] alpe commented on #297
I will test against https://github.com/kubernetes-sigs/federation-v2 . Closing this here.

[2018-12-19 16:05] #297 closed, assigned to nobody

[2018-12-21 09:36] fejta commented on #269
Required SECURITY_CONTACTS file still does not exist on master branch. See #298 for more info.

[2018-12-21 09:36] fejta opened #298 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-12-21 17:11] shanesiebken commented on #293
The error there is an i/o timeout. It's possible that because of a connection failure, the federation plane was simply unable to resolve that the appropriate RBAC roles already exist on the target cluster. My first thought would be to confirm that all security settings allow for communication (in both directions) over the specified port.

[2018-12-26 05:33] nikhita commented on #88
/lifecycle frozen

[2019-01-20 23:09] lyxsus commented on #259
@d-winter you're a horrible person

[2019-01-27 13:06] idealhack commented on #278
fixed by https://github.com/kubernetes/federation/pull/299
/close

[2019-01-27 13:06] #278 closed

[2019-02-02 15:44] #199 closed

[2019-02-13 08:41] marekaf commented on #274
any progress on this?

[2019-02-17 18:21] justaugustus commented on #220
/unassign

[2019-02-22 01:54] #281 closed

[2019-02-26 18:13] quinton-hoole commented on #274
@marekaf I would suggest asking in the SIG-Multicluster Slack channel
 ( https://kubernetes.slack.com/messages/C09R1PJR3 ) or mailing list https://groups.google.com/forum/#!forum/kubernetes-sig-multicluster .

Or file an issue in https://github.com/kubernetes-sigs/federation-v2

I'm not sure why this repo is still accepting updates, and not being redirected to the above one.  I'll try to have that

[2019-02-26 18:27] quinton-hoole commented on #274
@marekaf Also, did https://github.com/kubernetes/federation/issues/274#issuecomment-430120387 not work for you?

[2019-03-02 06:05] #110 closed

[2019-03-20 07:38] chiraggupta06 commented on #281
@cap1981 hi Chirag, could you please tell me whether the issue was resolved and if yes, then how?

Thanks in advance.

Regards,
Chirag Gupta

[2019-03-28 18:29] #274 closed

[2019-04-03 17:52] fejta opened #300 "Intent to archive this repo as read-only"
https://github.com/kubernetes/federation/issues/298 has gone unresolved for more than a quarter, and there does not appear to be activity on this repo: no issues, no PRs.

I plan to mark this repo as archived next week. If we need to continue making changes to this repo, please someone step up and create the security contacts file. Thanks!

/assign @nikhiljindal @csbell @madhusudancs

[2019-04-03 17:59] nikhiljindal commented on #300
cc @kubernetes/sig-multicluster-proposals @kubernetes/sig-multicluster-pr-reviews
@shashidharatd @irfanurrehman @marun

[2019-04-04 04:10] shashidharatd commented on #300
SGTM. the federation repo is not maintained and users and developers are encouraged to look at [federation-v2](https://github.com/kubernetes-sigs/federation-v2)

[2019-04-08 21:07] fejta commented on #300
Archiving now...

[2019-04-21 07:05] #4 closed

[2019-04-21 07:05] #9 closed

[2019-04-21 07:05] #88 closed

[2019-04-21 07:05] #132 closed

[2019-04-21 07:05] #213 closed

[2019-04-21 07:05] #220 closed

[2019-04-21 07:05] #293 closed

[2019-04-21 07:05] #294 closed

[2019-04-21 07:05] #296 closed, assigned to nobody

[2019-04-21 07:05] #298 closed, assigned to nobody

[2019-04-21 07:05] #300 closed, assigned to nobody